<div [@flyIn]="'in'">
	<showtem [stname]="'弹出提示框'" [stnamedel]="'一个有趣的服务'">
		<!-- overview -->
		<ng-template [ngIf]="true" class='stview'>

			<h3>概述</h3>
			<p>
				弹出提示警告框:alert
			</p>
			<ol>
				<li>
						<code>title</code>标题
				</li>
				<li>
						<code>message</code>内容
				</li>
				<li>
						<code>type</code>类型---（success，fail，warn）
				</li>
			</ol>
			<p>
				弹出提示警告框:confirm
			</p>
			<ol>
				<li>
						<code>message</code>内容
				</li>
			</ol>

	    <h3>何时使用</h3>
			<p>
				需要明确的给出提示信息时使用
			</p>

			<div style="margin-top:35px;">
				<h3>Alert</h3>
				<div style="padding:0px 10px;">
					<p>弹出的Alert框</p>
	        <showcode [sttype]="'typescript'" >
						<div class="shows">this.windowservice.alert({{'{'}}message:"填写的信息",title:"标题",type:"fail"{{'}'}})</div>
					</showcode>
				</div>
			</div>

			<div style="margin-top:35px;">
				<h3>Confirm</h3>
				<div style="padding:0px 10px;">
					<p>弹出的Confirm框</p>
					<showcode [sttype]="'typescript'">
						<div class="shows">this.windowservice.confirm({{'{'}}message:"填写的信息"{{'}'}})</div>
					</showcode>
				</div>
			</div>

		</ng-template>

	<!-- API -->
	<ng-template [ngIf]="true" class='stitemo'>

		<showitemo [sitemotitle]="'属性'">
			<ng-template [ngIf]="true" class="sitemocon">

				<table class="table">
					<thead>
						<tr>
							<th>参数</th>
							<th>说明</th>
							<th>类型</th>
							<th>可选值</th>
							<th>默认值</th>
							<th>是否必选</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>checked-value</td>
							<td>绑定的值等于这个值，开关为开启状态</td>
							<td>any</td>
							<td></td>
							<td>true</td>
							<td>否</td>
						</tr>
						<tr>
							<td>unchecked-value</td>
							<td>绑定的值等于这个值，开关为关闭状态</td>
							<td>any</td>
							<td></td>
							<td>false</td>
							<td>否</td>
						</tr>
					</tbody>
				</table>

			</ng-template>
		</showitemo>

		<showitemo [sitemotitle]="'说明'">
			<ng-template [ngIf]="true" class="sitemocon">

				<h3>(ngModelChange)</h3>
				<p>
	        模板语法，可监听双向绑定的值变化
	      </p>

			</ng-template>
		</showitemo>

	</ng-template>

	<!-- stitemexample -->
	<ng-template [ngIf]="true" class="stitemexample">

	  <showitemexample>

	    <ng-template [ngIf]="true" class="stitempcon">
	      <div class="showhow" style="margin-buttom:30px;">

	        <p>Alert简单示例</p>
					<button (click)="testalerts()" class="btn btn-success">success</button>
					<button (click)="testalertf()" class="btn btn-success">fail</button>
					<button (click)="testalertw()" class="btn btn-success">warn</button>

	      </div>
	    </ng-template>

	    <ng-template [ngIf]="true" class="stitemphtml">
	    </ng-template>

	    <ng-template [ngIf]="true" class="stitempts">
				<pre iqhighlight>
	    		<code class="typescript">
						this.windowservice.alert({{'{'}}message:"填写的信息",title:"标题",type:"success"{{'}'}})
						this.windowservice.alert({{'{'}}message:"填写的信息",title:"标题",type:"fail"{{'}'}})
						this.windowservice.alert({{'{'}}message:"填写的信息",title:"标题",type:"warn"{{'}'}})
					</code>
				</pre>
	    </ng-template>

	    <ng-template [ngIf]="true" class="stitempcss">
	    </ng-template>

	  </showitemexample>

	  <showitemexample>

			<ng-template [ngIf]="true" class="stitempcon">
				<div class="showhow" style="margin-buttom:30px;">

					<p>Confirm简单示例</p>
					<button (click)="testconfirm()" class="btn btn-success">confirm</button>

				</div>
			</ng-template>

	    <ng-template [ngIf]="true" class="stitemphtml">
	    </ng-template>

	    <ng-template [ngIf]="true" class="stitempts">
				<pre iqhighlight>
	    		<code class="typescript">
						this.windowservice.confirm({{'{'}}message:"填写的信息"{{'}'}})
					</code>
				</pre>
	    </ng-template>

	    <ng-template [ngIf]="true" class="stitempcss">
	    </ng-template>

	  </showitemexample>

	</ng-template>

	</showtem>
</div>
