<div [@flyIn]="active">
	<showtem [stname]="'日期组件'" [stnamedel]="'一个有趣的组件'" >

		<!-- overview -->
		<ng-template [ngIf]="true" class='stview'>

			<h3>概述</h3>
			<p>
				选择或输入日期，支持年、月、日期等类型，支持选择范围。
			</p>

			<div style="margin-top:35px;">
				<h3>required</h3>
				<div style="padding:0px 10px;">
					<p><code>required:boolean</code>； 如果为<code>true</code>，则日期必选，不选日期组件边框会变红</p>
					<iq-datepicker [(ngModel)]='date[0]' required='true'></iq-datepicker>
					<showcode>
						<div class="shows">&lt;iq-datepicker [(ngModel)]="date" [required]="true" &gt;&lt;/iq-datepicker&gt;</div>
					</showcode>
				</div>
			</div>

			<div style="margin-top:35px;">
				<h3>disabled</h3>
				<div style="padding:0px 10px;">
					<p><code>disabled:boolean</code>； 如果为<code>true</code>，则组件被禁用</p>
					<iq-datepicker [(ngModel)]='date[1]' disabled></iq-datepicker>
					<showcode>
						<div class="shows">&lt;iq-datepicker [(ngModel)]='date' disabled&gt;&lt;/iq-datepicker&gt;</div>
					</showcode>
				</div>
			</div>

			<div style="margin-top:35px;">
				<h3>minYear, maxYear</h3>
				<div style="padding:0px 10px;">
					<p><code>minYear:number, maxYear:number</code>； <code>minYear</code>为组件可选用的最小年份，<code>maxYear</code>为组件可选用的最大年份</p>
					<iq-datepicker [(ngModel)]='date[2]' minYear='2000' maxYear="2020"></iq-datepicker>
					<showcode>
						<div class="shows">&lt;iq-datepicker [(ngModel)]="date" minYear="2000" maxYear="2020"&gt;&lt;/iq-datepicker&gt;</div>
					</showcode>
				</div>
			</div>

			<div style="margin-top:35px;">
				<h3>placeHolder</h3>
				<div style="padding:0px 10px;">
					<p><code>placeHolder:string</code>； 设置组件的默认提示文字</p>
					<iq-datepicker [(ngModel)]='date[3]' placeHolder="-请选择日期"></iq-datepicker>
					<showcode>
						<div class="shows">&lt;iq-datepicker [(ngModel)]="date" placeHolder="-请选择日期"&gt;&lt;/iq-datepicker&gt;</div>
					</showcode>
				</div>
			</div>

			<div style="margin-top:35px;">
				<h3>startDate, endDate</h3>
				<div style="padding:0px 10px;">
					<p><code>startDate:Date|string|number, endDate:Date|string|number</code>； 设置组件的可选择的起始日期和结束日期</p>
						<div style="display: inline-block;width: 45%;">
							<iq-datepicker [(ngModel)]='date[4]' [endDate]="date[5]"></iq-datepicker>
						</div> ~
						<div style="display: inline-block;width: 45%;">
							<iq-datepicker [(ngModel)]='date[5]' [startDate]="date[4]"></iq-datepicker>
						</div>
					<showcode>
						<div class="shows">&lt;iq-datepicker [(ngModel)]="startDate" [endDate]="endDate"&gt;&lt;/iq-datepicker&gt;
&lt;iq-datepicker [(ngModel)]="endDate" [startDate]="startDate"&gt;&lt;/iq-datepicker&gt;</div>
					</showcode>
				</div>
			</div>

			<div style="margin-top:35px;">
				<h3>format</h3>
				<div style="padding:0px 10px;">
					<p><code>format:string</code>；&nbsp;<code>format</code>参考moment.js的format格式，设置组件的返回值的格式</p>
					<p>返回值：{{date[6]}}</p>
					<iq-datepicker [(ngModel)]='date[6]' format="YYYY-MM-DD"></iq-datepicker>
					<showcode>
						<div class="shows">&lt;iq-datepicker [(ngModel)]="date" format="YYYY-MM-DD"&gt;&lt;/iq-datepicker&gt;</div>
					</showcode>
				</div>
			</div>

		</ng-template>

	<!-- API -->
	<ng-template [ngIf]="true" class='stitemo'>

		<showitemo [sitemotitle]="'属性'">
			<ng-template [ngIf]="true" class="sitemocon">

				<table class="table">
					<thead>
						<tr>
							<th>参数</th>
							<th>说明</th>
							<th>类型</th>
							<th>可选值</th>
							<th>默认值</th>
							<th>是否必选</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>required</td>
							<td>是否必选</td>
							<td>boolean</td>
							<td>true,false</td>
							<td>false</td>
							<td>否</td>
						</tr>
						<tr>
							<td>disabled</td>
							<td>是否禁用</td>
							<td>boolean</td>
							<td>true,false</td>
							<td></td>
							<td>否</td>
						</tr>
						<tr>
							<td>minYear</td>
							<td>最小年份</td>
							<td>string,number</td>
							<td></td>
							<td>当年年份-70</td>
							<td>否</td>
						</tr>
						<tr>
							<td>maxYear</td>
							<td>最大年份</td>
							<td>string,number</td>
							<td></td>
							<td>当年年份+30</td>
							<td>否</td>
						</tr>
						<tr>
							<td>placeHolder</td>
							<td>设置默认文字</td>
							<td>string</td>
							<td></td>
							<td></td>
							<td>否</td>
						</tr>
						<tr>
							<td>startDate</td>
							<td>开始日期</td>
							<td>string,date,number</td>
							<td></td>
							<td></td>
							<td>否</td>
						</tr>
						<tr>
							<td>endDate</td>
							<td>结束日期</td>
							<td>string,date,number</td>
							<td></td>
							<td></td>
							<td>否</td>
						</tr>
						<tr>
							<td>format</td>
							<td>格式化（YYYY-MM-DD）</td>
							<td>string</td>
							<td></td>
							<td></td>
							<td>否</td>
						</tr>
					</tbody>
				</table>

			</ng-template>
		</showitemo>

	</ng-template>

	<!-- stitemexample -->
	<ng-template [ngIf]="true" class="stitemexample">

	  <showitemexample>

	    <ng-template [ngIf]="true" class="stitempcon">
	      <div class="showhow">

	        <p>简单示例：选择日期区间</p>
	        <div style="display: inline-block;width: 250px;">
	        	<iq-datepicker [(ngModel)]="startDate" [endDate]="endDate" placeHolder="-请选择开始日期"></iq-datepicker>
	        </div>~
	        <div style="display: inline-block;width: 250px;">
	        	<iq-datepicker [(ngModel)]="endDate" [startDate]="startDate" placeHolder="-请选择结束日期"></iq-datepicker>
	        </div>
	      </div>
	    </ng-template>

	    <ng-template [ngIf]="true" class="stitemphtml">

	    	<pre iqhighlight>
	    		<code class="html">
&lt;div style="display: inline-block;width: 250px;"&gt;
 &lt;iq-datepicker [(ngModel)]="startDate" [endDate]="endDate" placeHolder="-请选择开始日期"&gt;&lt;/iq-datepicker&gt;
&lt;/div&gt;
~
&lt;div style="display: inline-block;width: 250px;"&gt;
 &lt;iq-datepicker [(ngModel)]="endDate" [startDate]="startDate" placeHolder="-请选择结束日期"&gt;&lt;/iq-datepicker&gt;
&lt;/div&gt;
	        </code>
	    	</pre>

	    </ng-template>

	    <ng-template [ngIf]="true" class="stitempts">
	    	<pre iqhighlight>
	    		<code  class="javascript">
startDate: Date;
endDate: Date;
	    		</code>
	    	</pre>
	    </ng-template>

	    <ng-template [ngIf]="true" class="stitempcss">
	    	<pre iqhighlight>
	    		<code class="css">
	    		</code>
	    	</pre>
	    </ng-template>

	  </showitemexample>

	  <showitemexample>

	    <ng-template [ngIf]="true" class="stitempcon">
	      <div class="showhow">
	        <p>必选校验</p>
	        <iq-datepicker [(ngModel)]="someDate" [required]="isSubmit" placeHolder="-请选择日期"></iq-datepicker>
	        <button class="m-btn-success" (click)="submitSomething()">提交</button>
	        <button class="m-btn-cancel" (click)="reset()">重置</button>
	      </div>
	    </ng-template>

	    <ng-template [ngIf]="true" class="stitemphtml">

	    	<pre iqhighlight>
	    		<code class="html">
&lt;iq-datepicker [(ngModel)]="someDate" [required]="isSubmit" placeHolder="-请选择日期"&gt;&lt;/iq-datepicker&gt;
&lt;button class="m-btn-success" (click)="submitSomething()"&gt;提交&lt;/button&gt;
&lt;button class="m-btn-cancel" (click)="reset()"&gt;重置&lt;/button&gt;
	        </code>
	    	</pre>

	    </ng-template>

	    <ng-template [ngIf]="true" class="stitempts">
	    	<pre iqhighlight>
	    		<code  class="javascript">
someDate: Date;
submitSomething() {{'{'}}
 this.isSubmit = true;
{{'}'}}
reset() {{'{'}}
 this.someDate = undefined;
 this.isSubmit = false;
{{'}'}}
	    		</code>
	    	</pre>
	    </ng-template>

	    <ng-template [ngIf]="true" class="stitempcss">
	    	<pre iqhighlight>
	    		<code class="css">
	    		</code>
	    	</pre>
	    </ng-template>

	  </showitemexample>

	</ng-template>

	</showtem>
</div>
