<!-- Content
  ================================================== -->
<div id="content">
  <div class="container-fluid">
    <h1 class="page-title">User Profile <small>sample user profile page</small></h1>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget">
          <div class="widget-header">

          </div>
          <div class="widget-content">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#overview" data-toggle="tab"><i class="icon-desktop"></i> <span class="hidden-phone">OVERVIEW</span></a></li>
              <li><a href="#api" data-toggle="tab"><i class="icon-edit"></i> <span class="hidden-phone">API</span></a></li>
              <li><a href="#examples" data-toggle="tab"><i class="icon-picture"></i> <span class="hidden-phone">EXAMPLES</span></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade active in" id="overview">
                <div class="user-profile">
                  <div class="profile-header">
                    <i class="icon-info-sign"></i>Account Overview
                  </div>
                </div>
                <div class="user-profile">

                  <h3>使用说明</h3>

                  <ol>
                    <li>
                      Required = 'boolean'; 布尔值，true为必须，false非必选
                      [Required] = 'variable'; 布尔值变量
                    </li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit</li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
                  </ol>

                  <div style="margin-top:35px;">
                    <h3>解释1</h3>
                    <div style="padding:0px 10px;">
                      <p>By default the calendar will open in month view, this can be changed by setting the startView property of md-datepicker to "year". In year view the user will see all months of the year and
                        then proceed to month view after choosing a month.</p>
                      <showcode>
                          <div class="shows">
                            &lt;my-datepicker [(ngModel)]="startDate" [StartDate]="endDate"&gt;&lt;/my-datepicker&gt;
                            &lt;my-datepicker [(ngModel)]="endDate" [EndDate]="startDate"&gt;&lt;/my-datepicker&gt;
                          </div>
                      </showcode>
                    </div>
                  </div>

                  <div style="margin-top:35px;">
                    <h3>解释2</h3>
                    <div style="padding:0px 10px;">
                      <p>By default the calendar will open in month view, this can be changed by setting the startView property of md-datepicker to "year". In year view the user will see all months of the year and
                        then proceed to month view after choosing a month.</p>
                      <showcode>
                          <div class="shows">
                            &lt;my-datepicker [(ngModel)]="startDate" [StartDate]="endDate"&gt;&lt;/my-datepicker&gt;
                            &lt;my-datepicker [(ngModel)]="endDate" [EndDate]="startDate"&gt;&lt;/my-datepicker&gt;
                          </div>
                      </showcode>
                    </div>
                  </div>


                </div>
              </div>
              <div class="tab-pane fade" id="api">
                <div class="user-profile">
                  <form class="form-horizontal margin-bottom-0">
                    <div class="profile-header">
                      <i class="icon-cogs"></i> Api
                    </div>

                    <div class="widget">
          						<div class="widget-header">
          							<h4>属性</h4>
          						</div>
          						<div class="widget-content">
          							<table class="table">
          								<thead>
          									<tr>
          										<th>参数</th>
          										<th>说明</th>
          										<th>类型</th>
          										<th>可选值</th>
                              <th>默认值</th>
                              <th>是否必须</th>
          									</tr>
          								</thead>
          								<tbody>
          									<tr>
          										<td>Required</td>
          										<td>说明1</td>
          										<td>类型1</td>
          										<td>可选值1</td>
                              <td>默认值1</td>
                              <td>是</td>
          									</tr>
          									<tr>
                              <td>isDisabled</td>
                              <td>说明2</td>
                              <td>类型2</td>
                              <td>可选值2</td>
                              <td>默认值2</td>
                              <td>是</td>
          									</tr>
          									<tr>
                              <td>MinYear</td>
                              <td>说明3</td>
                              <td>类型3</td>
                              <td>可选值3</td>
                              <td>默认值3</td>
                              <td>否</td>
          									</tr>
          								</tbody>
          							</table>
          						</div>
          					</div>

                    <div class="widget">
          						<div class="widget-header">
          							<h4>方法</h4>
          						</div>
          						<div class="widget-content">
                        <h3>click()</h3>

                        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

          						</div>
          					</div>

                    <div class="widget">
                      <div class="widget-header">
                        <h4>其他</h4>
                      </div>
                      <div class="widget-content">

                        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

                      </div>
                    </div>

                  </form>
                </div>
              </div>
              <div class="tab-pane fade" id="examples">
                <div class="user-profile">
                  <form class="form-horizontal margin-bottom-0">
                    <div class="profile-header">
                      <i class="icon-picture"></i> Profile Image
                    </div>

                    <div class="widget">
          						<div class="widget-header">
          							<h4>Sample Wizards</h4>
          						</div>
          						<div class="widget-content">
          							<form class="form-horizontal">
          							<div id="wizard">
          								<ol>
          									<li>HTML</li>
          									<li>JS</li>
          									<li>CSS</li>
          								</ol>
          								<div>
          									<p>HTML</p>
          								</div>
          								<div>
          									<p>JS</p>
          								</div>
          								<div>
          									<ul>
          									   <li>C1</li>
          									   <li>C2</li>
          									   <li>C3</li>
          									</ul>
          								</div>
          							</div>
          							</form>
          						</div>
          					</div>
                  </form>

                  <div>
                    <iq-switcher [(ngModel)]="fromSwitcher2" [checked-value]="'a'" [unchecked-value]="'0'"></iq-switcher>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end span12 -->
    </div><!-- end row-fluid -->
  </div><!-- end container-fluid -->
</div><!-- end #content -->
