<div [@flyIn]="'in'">
  <showtem [stname]="'css基础布局说'" [stnamedel]="'一个有趣的css'" >

    <!-- overview -->
    <ng-template [ngIf]="true" class='stview'>

      <h3>概述</h3>
      <p>
        将ie10出现的兼容性问题进行总结，使页面能够完美的在ie浏览器显示!
      </p>


      <div style="margin-top:35px;">
        <h3>弹出框table在鼠标滑过(hover)时出现黑线</h3>
        <div style="padding:0px 10px;">
          <p>原因: &nbsp;&nbsp;table宽度不够或者未设置宽度导致其出现错位</p>
          <p>解决: &nbsp;&nbsp;为table增加宽度</p>
          
          <showcode>
            <img src="./assets/img/1.jpg" alt="">
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>盒模型真实宽度过长或过短</h3>
        <div style="padding:0px 10px;">
          <p>过长原因: &nbsp;&nbsp;父元素中的子元素宽度之和大于父元素的宽度.</p>
          <p>解决: &nbsp;&nbsp;使子元素宽度之和等于父元素的宽度.</p>
          <p>过短原因: &nbsp;&nbsp;ie10无法识别自定义指令标签是否为块元素标签,默认为行元素标签.</p>
          <p>解决: &nbsp;&nbsp;将自定义指令标签设置为:  display:inline-block;</p>
          <showcode>
            <div class="shows"></div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>Input输入框添加placeholder内容后颜色显示问题</h3>
        <div style="padding:0px 10px;">
          <p>解决: input:-ms-input-placeholder color:#888;    //IE</p>
          <showcode>
            <div class="shows"></div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>鼠标滑过(Hover)时边框消失</h3>
        <div style="padding:0px 10px;">
          <p>原因:&nbsp;&nbsp;boder-collapse:collapse;此时如果可能,边框会合并为一个单一的边框。会忽略 border-spacing 和 empty-cells 属性.</p>
          <p>解决:&nbsp;&nbsp;border-collapse: separate;此时边框会被分开。不会忽略 border-spacing 和 empty-cells 属性.</p>
          <showcode>
            <div class="shows">
            </div>
          </showcode>
        </div>
      </div>
      <div style="margin-top:35px;">
        <h3>浮动ie产生的双倍距离</h3>
        <div style="padding:0px 10px;">
          <p>原因: FF 和 IE 对 BOX 理解的差异导致设为浮动float的div在ie下margin加倍.</p>
          <p>解决: &nbsp;&nbsp;对浮动元素添加 display:inline.</p>
          <showcode>
              <div class="shows" style="margin-left:-130px;">
                  <span>#box{{{float:left; width:100px; margin:0 0 0 100px; //这种情况之下IE会产生200px的距离</span>
                  <span>display:inline; //使浮动忽略}}}</span>
              </div>
          </showcode>
        </div>
      </div>
      <div style="margin-top:35px;">
        <h3>IE8以及IE8以上的版本的Hack写法</h3>
        <div style="padding:0px 10px;">
          <p>问题:&nbsp;&nbsp;ie浏览器显示有时会与谷歌等浏览器显示不一致(如滚动条宽度),此时需要针对ie浏览器设置特殊的css样式.</p>
          <p>解决:&nbsp;&nbsp;在css属性值后添加\0,写出只能ie8以上版本才能识别的css代码.</p>
          <p style="padding-left:35px">Selector[property: value\0;]</p>
          <showcode>
            <div class="shows"></div>
          </showcode>
        </div>
      </div>
      <div style="margin-top:35px;">
        <h3>慎用\0的CSS Hack</h3>
        <div style="padding:0px 10px;">
          <p>在Web页面制作中尽量不要使用CSS Hack来处理兼容问题。因为任何浏览器下出现渲染不一致都极有可能是我们自己的结构或样式不符合W3C的某些要求，或者说违背了浏览器的某些规则而造成的，所以我们应该尽量通过结构或CSS的修改来达到各浏览器渲染一致效果，除非到了万不得已情况下，才考虑CSS的Hack。</p>
          <showcode>
            <div class="shows"></div>
          </showcode>
        </div>
      </div>

      

    </ng-template>

  <!-- API -->
  <ng-template [ngIf]="true" class='stitemo'>

    <showitemo [sitemotitle]="'属性'">
      <ng-template [ngIf]="true" class="sitemocon">

        <table class="table">
          <thead>
            <tr>
              <th>参数</th>
              <th>说明</th>
              <th>类型</th>
              <th>可选值</th>
              <th>默认值</th>
              <th>是否必选</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </showitemo>

  </ng-template>

  </showtem>
</div>
