
<header class="widget" style="padding:15px 0;"> 
  <!-- Top Navigation
  	================================================== -->
	<div id="top-nav" style="margin:0 30px 0 220px">
		<div class="navbar">
			<div class="navbar-inner">
				<a href="#" class="btn btn-navbar pull-right" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<ul class="nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="iqon-record"></i>
							<span class="label label-info">5</span>
						</a>
						<ul class="dropdown-menu ">
							<!-- <li>
								<a href="#">
								<span class="label label-success">
									<i class="iqon-colplates"></i>
								</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								</a>
							</li>
							<li><a href="#"><span class="label label-warning"><i class="icon-exclamation-sign"></i></span> Duis aliquet pharetra dapibus.</a></li>
							<li><a href="#"><span class="label label-important"><i class="icon-shopping-cart"></i></span> Proin rhoncus ipsum a iaculis rutrum.</a></li>
							<li><a href="#"><span class="label label-info"><i class="icon-hdd"></i></span> Pellentesque sollicitudin mi tellus, eget posuere metus rhoncus sed.</a></li>
							<li class="divider"></li>
							<li class="dropdown-footer"><a href="#"><span class="label"><i class="icon-circle-arrow-right"></i></span> View all updates</a></li> -->

							<li>
								<!-- <a href="javascript:void(0);">
								<span class="label label-info">
									<i class="iqon-colplates"></i>
								</span> 前景色				
								
								</a> -->
								
							</li>


						</ul>
					</li>
					<li>
						<a href="#"><i class="iqon-mail"></i></a>
					</li>
					<li>
						<a href="#"><i class="iqon-info-circle-o"></i></a>
					</li>
					<li class="divider-vertical"></li>
			  		<li class="dropdown">
			  			<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
							  <img style="height:30px;" alt="" src="assets/img/user-profile-pic-0.png" />
							  <span style="font-size:14px;" class="hidden-phone">{{nickname}}</span>
			  			</a>
			  			<ul class="dropdown-menu">
							<li><a href="javaScript:void(0)"><i class="iqon-tag-q"></i>&nbsp;&nbsp;我的基本信息</a></li>
							<li ><a routerLink="/index/setting"><i class="iqon-tag-q"></i>&nbsp;&nbsp;设置</a></li>
							<li class="divider"></li>
							<li (click)="logout()"><a href="javaScript:void(0);"><i class="iqon-tag-q"></i>&nbsp;&nbsp;退出</a></li>
						</ul>
			  		</li>
				</ul>
				<form class="navbar-search pull-right hidden-phone">
				  	<input type="text" class="search-query" placeholder="Search" />
  					<button type="submit" class="btn" style="top:2px;">
						  <i class="iqon-search"></i>
					</button>
				</form>

				<div style="float: right;line-height: 45px;margin-right: 30px;">
					<input style="width:100px;" [(colorPicker)]="scolor" (colorPickerChange)="scolorm($event)" [style.background]="scolor"/>
					<input style="width:100px;" [(colorPicker)]="ecolor" (colorPickerChange)="ecolorm($event)" [style.background]="ecolor"/>
				</div>

		  	</div><!-- end navbar inner -->
		</div><!-- end navbar -->
  	</div><!-- end #top-navigation -->
</header>
