<div [@flyIn]="'in'">
  <showtem [stname]="'数字转大写中文管道'" [stnamedel]="'一个有趣的管道'" >

    <!-- overview -->
    <ng-template [ngIf]="true" class='stview'>

      <h3>概述</h3>
      <p>
        简单的管道转化
      </p>

      <div style="margin-top:35px;">
        <h3>iqNum2Chinese</h3>
        <div style="padding:0px 10px;">
          <p>两种格式：“一”或“壹”，默认格式为“一”，有效数字位数不能超过16位</p>
          <input [(ngModel)]="num" type="text" name="num">
          <div>格式“一”：{{num|iqNum2Chinese}}</div>
          <div>格式“壹”：{{num|iqNum2Chinese:'壹'}}</div>
          <showcode>
            <div class="shows">{{'{'}}{{'{'}} num | iqNum2Chinese{{'}'}}{{'}'}}
{{'{'}}{{'{'}} num | iqNum2Chinese:'壹'{{'}'}}{{'}'}}</div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>iqChinaCurrency</h3>
        <div style="padding:0px 10px;">
          <p>将数字转化为大写中文货币，最小单位支持到厘</p>
          <input [(ngModel)]="num2" type="text" name="num">
          <div>金额：{{num2|iqChinaCurrency}}</div>
          <showcode>
            <div class="shows">{{'{'}}{{'{'}} num | iqChinaCurrency{{'}'}}{{'}'}}</div>
          </showcode>
        </div>
      </div>

    </ng-template>

  <!-- API -->
  <ng-template [ngIf]="true" class='stitemo'>

    <showitemo [sitemotitle]="'属性'">
      <ng-template [ngIf]="true" class="sitemocon">

        <table class="table">
          <thead>
            <tr>
              <th>参数</th>
              <th>说明</th>
              <th>类型</th>
              <th>可选值</th>
              <th>默认值</th>
              <th>是否必选</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </showitemo>

  </ng-template>

  </showtem>
</div>
