<div [@flyIn]="active">
  <showtem [stname]="'字符串方法'" [stnamedel]="'忆童年时竹马青梅'" >

    <!-- overview -->
    <ng-template [ngIf]="true" class='stview'>

      <h3>概述</h3>
      <p>
        字符串的一些方法
      </p>

      <div style="margin-top:35px;">
        <h3>左侧补位指定字符到指定长度</h3>
        <div style="padding:0px 10px;">
          <showcode>
            <div class="shows">
function leftpad(str, len, ch) {{'{'}}
  str = String(str);
  var i = -1;
  if(!ch && ch !== 0) {{'{'}}ch = ' '{{'}'}};
  len = len - str.length;
  while(++i < len) {{'{'}}
    str = ch + str;
  {{'}'}}
  return str;
{{'}'}}
            </div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>字符串反转</h3>
        <div style="padding:0px 10px;">
          <showcode>
            <div class="shows">
function reverseStr(str) {{'{'}}
  return str.split('').reverse().join('');
{{'}'}}
            </div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>将字符串中连续相同的字符只保留一个</h3>
        <div style="padding:0px 10px;">
          <showcode>
            <div class="shows">
function noSeqChar(str) {{'{'}}
  str = String(str);
  let ch = '';
  let arr = [];
  str.split('').forEach(item => {{'{'}}
    if(item !== ch) {{'{'}}
      arr.push(item);
      ch = item;
    {{'}'}}
  {{'}'}})
  return arr.join('');
{{'}'}}
            </div>
          </showcode>
        </div>
      </div>

    </ng-template>

    <!-- stitemexample -->
    <ng-template [ngIf]="true" class="stitemexample">

      <showitemexample>

        <ng-template [ngIf]="true" class="stitempcon">
          <div class="showhow">

            <p>/deep/ 简单示例，改变开关滑块颜色</p>

            <iq-switcher [(ngModel)]="fromSwitcher"></iq-switcher>
          </div>
        </ng-template>

        <ng-template [ngIf]="true" class="stitemphtml">

          <pre iqhighlight>
            <code class="html">
              &lt;iq-switcher [(ngModel)]="fromSwitcher"&gt;&lt;/iq-switcher&gt;
            </code>
          </pre>

        </ng-template>

        <ng-template [ngIf]="true" class="stitempts">
          <pre iqhighlight>
            <code  class="javascript">
              fromSwitcher: boolean;
            </code>
          </pre>
        </ng-template>

        <ng-template [ngIf]="true" class="stitempcss">
          <pre iqhighlight>
            <code class="css">
              /deep/ .m-switch .switch-ball{{'{'}}
                background: red;
              {{'}'}}
            </code>
          </pre>
        </ng-template>

      </showitemexample>

    </ng-template>

  </showtem>
</div>
