%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.my-datepicker{
  position: relative;
  color: #4a4a4a;

  div,ul,li,select,input,i{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  li{
    list-style: none;
  }

  .m-input{
    padding: 0 15px;
    background: #fff;
    width: 100%;
    height: 35px;
    color: #4a4a4a;
    border-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .picker-main{
    position: absolute;
    padding: 10px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    z-index: 999;
    cursor: default;

    .p-ym{
      text-align: center;
      font-size: 14px;

      >i{
        display: inline-block;
        cursor: pointer;
      }

      select{
        margin: 0;
        padding: 0;
        background: #fff;
        width: auto;
        height: auto;
        color: #4a4a4a;
        font-size: 12px;
        margin-right: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
    }
    
    .p-day,.p-date{
      @extend %clearfix;
      width: 211px;

      li{
        float: left;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
      }
    }

    .p-date{
      background: #fff;
      border-top: 1px solid #999;
      border-right: 1px solid #999;

      li{
        border-bottom: 1px solid #999;
        border-left: 1px solid #999;
        cursor: pointer;

        &.currentday{
          background: lightblue;
        }
        
        &.color-gray{
          color: #ccc;
        }
      }
    }
  }

  .iqon-calendar-2{
    width: 20px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    line-height: 35px;
    color: #d2d8e0;
  }
}
