


  <div id="content">
      <div class="container-fluid">
        <h1 class="page-title">我的基本信息<small>一次有趣的旅行</small></h1>
        <div class="row-fluid">
          <div class="span12">
            <div class="widget">
              <div class="widget-header">
              </div>
              <div class="widget-content">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#overview" data-toggle="tab"><i class="iqon-salary-o"></i> <span class="hidden-phone">概述</span></a></li>
                  <li><a href="#api" data-toggle="tab"><i class="iqon-office-o"></i> <span class="hidden-phone">修改头像</span></a></li>
                  <li><a href="#examples" data-toggle="tab"><i class="iqon-plane-o"></i> <span class="hidden-phone">修改密码</span></a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade active in" id="overview">
                    <div class="user-profile">
                      <div class="profile-header">
                        <i class="iqon-star-empty"></i>Account Overview
                      </div>
                    </div>
                    <div class="user-profile">
                        <div class="user-profile" style="margin-top:-30px;">
                            
                          <div class="profile-image" style="width:200px;">
                            <img [src]="userInfo?.headurl">
                          </div>
                          <div class="profile-info" style="margin-left:220px;">
                            <table class="table">
                              <tbody><tr>
                                <td>
                                  <span class="field-name">Nickname:</span>
                                  <span *ngIf="!canSave" class="detail">{{userInfo.nickname}}</span>
                                  <input *ngIf="canSave" [(ngModel)]="_userInfo.nickname" type="text" name="" style="width: 300px;margin-left: 20px;">
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="field-name">City:</span> 
                                  <span *ngIf="!canSave" class="detail">{{userInfo.city}}</span>
                                  <input *ngIf="canSave" [(ngModel)]="_userInfo.city" type="text" name="" style="width: 300px;margin-left: 20px;">
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="field-name">Birthday:</span>
                                  <span *ngIf="!canSave" class="detail">{{userInfo.birthday}}</span>
                                  <div class="field-datepicker" *ngIf="canSave">
                                    <iq-datepicker [(ngModel)]="_userInfo.birthday" format="YYYY-MM-DD"></iq-datepicker>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="field-name">Email:</span>
                                  <span *ngIf="!canSave" class="detail">{{userInfo.email}}</span>
                                  <input *ngIf="canSave" [(ngModel)]="_userInfo.email" type="text" name="" style="width: 300px;margin-left: 20px;">
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="field-name">Mobile Number:</span>
                                  <span *ngIf="!canSave" class="detail">{{userInfo.mobilePhoneNumber}}</span>
                                  <input *ngIf="canSave" [(ngModel)]="_userInfo.mobilePhoneNumber" type="text" name="" style="width: 300px;margin-left: 20px;">
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="field-name">About:</span>
                                  <span *ngIf="!canSave" class="detail">{{userInfo.about}}</span>
                                  <textarea *ngIf="canSave" [(ngModel)]="_userInfo.about" type="text" name="" style="width: 300px;margin-left: 20px;"></textarea>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          </div>
                          <div class="profile-footer">
                            <button type="button" [hidden]="canSave" (click)="editUserInfo()" class="m-btn-confirm">更新个人信息</button>
                            <button type="button" [hidden]="!canSave" (click)="save()" class="m-btn-success">保存</button>
                            <button type="button" [hidden]="!canSave" (click)="cancel()" class="m-btn-default">取消</button>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="api">
                    <div class="user-profile">
                        <form class="form-horizontal margin-bottom-0">
                            <div class="profile-header">
                              <i class="icon-picture"></i> Profile Image
                            </div>
                            <div class="control-group">
                              <label class="control-label">Image</label>
                              <div class="controls user-profile padding-0">
                                <div class="profile-image" style="width:200px;">
                                  <img [src]="userInfo?.headurl">
                                </div>
                              </div>
                            </div>
                            <div class="form-actions">
                              <iq-file-upload [url]="uploadApi" [allowedFileType]="['image']" closeTime="1000" (onSuccess)="fileUploadSuccess($event)" text="修改头像"></iq-file-upload>
                            </div>
                          </form>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="examples">
                    <div class="user-profile">
    
    
                        <form class="form-horizontal margin-bottom-0">
                            <div class="profile-header">
                              <i class="icon-lock"></i> Change Password
                            </div>
                            <div class="control-group">
                              <label class="control-label">Current Password</label>
                              <div class="controls"><input type="password"></div>
                            </div>
                            <div class="control-group">
                              <label class="control-label">New Password</label>
                              <div class="controls"><input type="password"></div>
                            </div>
                            <div class="control-group">
                              <label class="control-label">New Password Again</label>
                              <div class="controls"><input type="password"></div>
                            </div>
                            <div class="form-actions">
                              <button type="submit" class="btn btn-primary"><i class="icon-ok-sign"></i> Update</button>
                            </div>
                          </form>
    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- end span12 -->
        </div><!-- end row-fluid -->
      </div><!-- end container-fluid -->
    </div><!-- end #content -->
    