 <div id="content">
    <div class="container-fluid">
      <div class="row-fluid">
        <h1 class="page-title">人员基本信息设置 <small> basic information setting</small></h1>
        <div class="widget" style="float:left;min-width:400px;width:100%;">
          <div class="widget-header">
            <h4>登录密码修改</h4>
          </div>
          <div style="padding:0px 10px;">
            <p><span style="padding-right: 20px;">原&nbsp;&nbsp;密&nbsp;&nbsp;码:</span><input type="text" style="width:25%"></p>
            <p><span style="padding-right: 20px;">新&nbsp;&nbsp;密&nbsp;&nbsp;码:</span><input type="text" style="width:25%"></p>
            <p><span style="padding-right: 20px;">确认密码:</span><input type="text" style="width:25%"></p>
          </div>
        </div>
      </div>
    </div>
 </div>
  
