<div [@flyIn]="'in'">
  <showtem [stname]="'选人组件'" [stnamedel]="'一个有趣的组件'" >

    <!-- overview -->
    <ng-template [ngIf]="true" class='stview'>

      <h3>概述</h3>
      <p>
        选人组件
      </p>

      <div style="margin-top:35px;">
        <h3>max</h3>
        <div style="padding:0px 10px;">
          <p><code>max: number</code>最大选择人数</p>
          <iq-person-select [(ngModel)]="one" [max]="1"></iq-person-select>
          <showcode>
            <div class="shows">&lt;iq-person-select [(ngModel)]="one" [max]="1"&gt;&lt;/iq-person-select&gt;</div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>onChange</h3>
        <div style="padding:0px 10px;">
          <p>选人切换事件，$event为已选人员列表</p>
          <iq-person-select [(ngModel)]="list" (onChange)="doSomething($event)"></iq-person-select>
          <showcode>
            <div class="shows">&lt;iq-person-select [(ngModel)]="list" (onChange)="doSomething($event)"&gt;&lt;/iq-person-select&gt;</div>
          </showcode>
        </div>
      </div>

    </ng-template>

  <!-- API -->
  <ng-template [ngIf]="true" class='stitemo'>

    <showitemo [sitemotitle]="'属性'">
      <ng-template [ngIf]="true" class="sitemocon">

        <table class="table">
          <thead>
            <tr>
              <th>参数</th>
              <th>说明</th>
              <th>类型</th>
              <th>可选值</th>
              <th>默认值</th>
              <th>是否必选</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </showitemo>

  </ng-template>

    <!-- stitemexample -->
  <ng-template [ngIf]="true" class="stitemexample">

    <showitemexample>

      <ng-template [ngIf]="true" class="stitempcon">
        <div class="showhow">
          <p></p>
        </div>
      </ng-template>

      <ng-template [ngIf]="true" class="stitemphtml">

        <pre iqhighlight>
          <code class="html"></code>
        </pre>

      </ng-template>

      <ng-template [ngIf]="true" class="stitempts">
        <pre iqhighlight>
          <code  class="javascript"></code>
        </pre>
      </ng-template>

      <ng-template [ngIf]="true" class="stitempcss">
        <pre iqhighlight>
          <code class="css">
          </code>
        </pre>
      </ng-template>

    </showitemexample>

  </ng-template>

  </showtem>
</div>
