<!-- <div class="m-apply">
  <div class="m-demo-content">
    <h3>switcher示例</h3>
    <div class="demo-list">
      <div class="demo-item">
        <div class="title">
          <span>
            开关
          </span>
        </div>
        <div class="description">
          <span>
           简易的开关滑块，可以双向绑定，默认为true，当不是true或false时可以自定义checked-value
          </span>
        </div>
        <div class="code-block">
          <pre class="code">
           {{"<"}}iq-switcher [(ngModel)]="XXX" [checked-value]="'xx'" [unchecked-value]="'0'"{{">"}}
            {{"<" + "/iq-switcher>"}}
          </pre>
        </div>
        <div class="example">
          <br/><br/><br/>
          <div class="">
            <iq-switcher [(ngModel)]="fromSwitcher2" [checked-value]="'a'" [unchecked-value]="'0'"></iq-switcher>
            <br/><br/>
            当不为true或false时，有a与0可以选择，其中a可以自定义&nbsp;<input type="text" [(ngModel)]="fromSwitcher2"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



 -->

<div class="showhow">
  <!-- <div style="width:300px;">
    <my-datepicker [(ngModel)]='date' PlaceHolder="-请选择日期"></my-datepicker>
    12312312312
  </div> -->
  afdsf

  <!-- <input style="width:300px;" type="text" name="" class="m-input"> -->
  <!-- <iq-switcher [(ngModel)]="fromSwitcher2" [checked-value]="'a'" [unchecked-value]="'0'"></iq-switcher> -->
</div>
