.m-user-select .m-user-select-main .m-user-selected{
  padding: 20px;
  
  .m-user-selected-list{
    margin: 0;
    padding: 10px;
    height: calc(100% - 38px);
    overflow-x:hidden;
    overflow-y:auto;
  }
}
.m-user-selected-list /deep/ li.m-user-info{
  white-space: nowrap;
  padding-right: 20px;

  > i{
    right:0
  }
}

.menu-toggle{
  margin-bottom: 5px;

  >li{
    float: left;
    padding: 0 10px;
    cursor: pointer;

    &.active{
      color: #57b9f8;
    }
  }
}
