.m-user-list,.m-user-selected-list{
  height: calc(100% - 38px);
  overflow-x:hidden;
  overflow-y:auto;
}
.m-user-selected-list /deep/ li.m-user-info{
  white-space: nowrap;

  > i{
    right:0
  }
}
.m-user-search>input{
  background: #fff;
  color: #333;
  border: 1px solid #57b9f8!important;
  box-shadow: none;
}
.m-user-nosearch ul{
  list-style: none;
}
.m-btn-confirm{
  width: 148px;
}
.m-btn-cancel{
  width: 78px;
}