<div class="modal fade" [ngClass]="{'in': isShow}" style="display:block">
  <div class="modal-dialog">
    <div class="m-user-select">
      <div class="m-dialog-head">
        {{ title || "选择" }}
        <i class="iqon-close" (click)="hide()"></i>
      </div>
      <div class="m-user-select-main">
        <div class="m-user-search">
          <ul class="clearfix menu-toggle" *ngIf="which === 'all'">
            <li [class.active]="menu === 'person'" (click)="toggleMenu('person')">人员</li>
            <li [class.active]="menu === 'department'" (click)="toggleMenu('department')" style="border-left: 1px solid #ccc">部门</li>
          </ul>
          <div style="position: relative;">
            <i class="iqon-query" style="position: absolute;top: 15px;left: 10px;color: #57b9f8;cursor: pointer;"></i>
            <input class="m-search-input" [(ngModel)]="searchkey" #term [placeholder]="menu === 'person' ? '姓名/itcode/员工编号' : '部门名称'" type="text">
          </div>
          <div style="padding: 10px 0;overflow: auto;height: 295px;" [hidden]="searchList?.length || searchkey">
            <div [hidden]="departmentList[menu]?.length" style="text-align: center;line-height: 250px;color: #ccc">{{(menu === 'department' ? !departmentOverflow : !personOverflow)?'loading...': ( (menu === 'department' ? '部门' : '人数') + '过多，请手动搜索')}}</div>
            <iq-tree-person-select [departmentList]="departmentList[menu]" [(selectedPerson)]="selectedPeronsList" [(selectedDepartment)]="selectedDepartmentList" [departmentCheck]="menu"></iq-tree-person-select>
          </div>
          <div style="padding: 10px 0;overflow: auto;height: 295px;" [hidden]="!searchList?.length || !searchkey">
            <ul class="m-user-list" style="padding: 0;">
              <ng-container *ngFor="let item of searchList">
                <li *ngIf="item.itcode" (click)="toggle(item)" class="m-user-info" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
                  <!-- icheck 的click不往外传递 点击icheck不会触发li上的click 所有手工触发-->
                  <input type="checkbox" icheck (onClick)="toggle(item)" [(ngModel)]="choosed[item[KEY]]">
                  <user-image-head [user]="item"></user-image-head>
                  <span class="m-user-name">{{item.userCN}}</span>
                  <span class="m-user-ename">{{item.userEN}}</span>
                </li>
                <li *ngIf="!item.itcode" (click)="chooseDepartment(item)" class="m-user-info">
                  <input type="checkbox" icheck (onClick)="chooseDepartment(item)" [(ngModel)]="choosed[item.id]">
                  <span style="display: inline-block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;vertical-align: middle;width: 210px;" [title]="item.name">{{item.name}}</span>
                </li>
              </ng-container>
            </ul>
          </div>
          <div [hidden]="searchList?.length || !searchkey" style="text-align: center;line-height: 250px;color: #ccc">{{isSearching ? 'searching...' : '搜索无结果'}}</div>
        </div>
        <div class="m-user-selected">
          <span>已选（{{selectedPeronsList?.length + selectedDepartmentList?.length}}）</span>
          <span [class]="(selectedPeronsList?.length + selectedDepartmentList?.length)?'m-user-clear':'hide'" (click)="clear()">清除</span>
          <ul class="m-user-selected-list">
            <li class="m-user-info" *ngFor="let item of selectedDepartmentList" style="height: 25px;line-height: 25px;">
              <p style="color: #4a4a4a;width: 150px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;" [title]="item.name">{{item.name}}</p>
              <i class="iqon-close" (click)="removeDepartment(item)" style="height: 25px;line-height: 25px;"></i>
            </li>
            <li class="m-user-info" user-image hasClose="true" (onClose)="removePeron(item)" [user]="item" *ngFor="let item of selectedPeronsList">
            </li>
          </ul>
          <div class="m-user-noselect" [hidden]="selectedPeronsList?.length + selectedDepartmentList?.length">尚未选择人员</div>
        </div>
      </div>
      <div class="m-user-select-foot">
        <div class="btn-groups">
          <input type="button" value="确定" class="m-btn m-btn-confirm" (click)="confirm()">
          <input type="button" value="取消" class="m-btn m-btn-cancel" (click)="hide()">
        </div>
      </div>
    </div>
  </div>
</div>
