<div [@flyIn]="'in'">
  <showtem [stname]="'文件大小管道'" [stnamedel]="'一个有趣的管道'" >

    <!-- overview -->
    <ng-template [ngIf]="true" class='stview'>

      <h3>概述</h3>
      <p>
        将字节数转自动换成文件大小，单位为'b','Kb','Mb','Gb','Tb'，保留两位小数
      </p>

      <div style="margin-top:35px;">
        <h3>iqFileSize</h3>
        <div style="padding:0px 10px;">
          <div>{{150759|iqFileSize}}</div>
          <showcode>
            <div class="shows">{{'{'}}{{'{'}} 150759 | iqFileSize {{'}'}}{{'}'}}</div>
          </showcode>
        </div>
      </div>

    </ng-template>

  <!-- API -->
  <ng-template [ngIf]="true" class='stitemo'>

    <showitemo [sitemotitle]="'属性'">
      <ng-template [ngIf]="true" class="sitemocon">

        <table class="table">
          <thead>
            <tr>
              <th>参数</th>
              <th>说明</th>
              <th>类型</th>
              <th>可选值</th>
              <th>默认值</th>
              <th>是否必选</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </showitemo>

  </ng-template>

  </showtem>
</div>
