.popovers{
  display: block;
  width: 70px;
  i{
    position: relative;
    top: 6px;
    /*left:50%;
    transform:translateX(-50%);*/
    left:45%;
    opacity: 0.8;
    color: #000;
  }
  p{
    width: 70px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
    text-align: center;
    border-radius: 3px;
    background-color: #000;
  }
}