.parent-box{
  float:left;
  margin: 10px 50px;
  width: 300px;
  height: 150px;
  background: green;
  overflow: hidden;
}

.child-box{
  margin: 25px auto;
  width: 180px;
  height: 100px;
  background: red;
}

.event-list{
  float: left;
  width: 120px;
  height: 180px;
  overflow: auto;
}