<!-- Sidebar
  ================================================== -->
<div id="sidebar" class="nav-collapse collapse">
  <ul class="nav">

    <li [ngClass]="{'active':path=='/index'}"><a routerLink="/index"><i class="iqon-home"></i> index</a></li>

    <li class="has-sub" routerLinkActive="active">
      <a href="#"><i class="iqon-ordinary"></i> 组件 <span class="label">6</span></a>
      <ul class="dropdown-menu">
        <li routerLinkActive="active">
          <a routerLink="/index/widget/iq-datepicker">日期选择组件</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/widget/iq-timepicker">时间选择组件</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/widget/iq-file-upload">附件上传组件</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/widget/iq-select">带搜索下拉组件</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/widget/iq-switcher">开关组件</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/widget/iq-breadcrumb">面包屑组件</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/widget/loading">加载中组件</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/widget/iq-pager">分页器组件</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/widget/tab-switch">选项卡切换组件</a>
        </li>
      </ul>
    </li>

    <li class="has-sub" routerLinkActive="active">
      <a href="#"><i class="iqon-appoval"></i> 指令 <span class="label">6</span></a>
      <ul class="dropdown-menu">
        <li routerLinkActive="active">
          <a routerLink="/index/directives/icheck">icheck</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/directives/autoheight">自动高度</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/directives/trim">自动去除空格</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/directives/stop-parent-click">阻止父级触发点击事件</a>
        </li>
      </ul>
    </li>

    <li class="has-sub" routerLinkActive="active">
      <a href="#"><i class="iqon-pubplates"></i> 管道 <span class="label">6</span></a>
      <ul class="dropdown-menu">
        <li routerLinkActive="active">
          <a routerLink="/index/pipes/iq-refactor">工厂管道</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/pipes/iq-date">日期管道</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/pipes/iq-filesize">文件大小管道</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/pipes/iq-num-chinese">数字转换成大写中文</a>
        </li>
      </ul>
    </li>


    <li class="has-sub" routerLinkActive="active">
      <a href="#"><i class="iqon-task"></i> 服务 <span class="label">6</span></a>
      <ul class="dropdown-menu">
        <li routerLinkActive="active">
          <a routerLink="/index/services/window">弹出提示框</a>
        </li>
      </ul>
    </li>

    <li class="has-sub" routerLinkActive="active">
      <a href="#"><i class="iqon-collect-default"></i> 模块 <span class="label">6</span></a>
      <ul class="dropdown-menu">
        <li [ngClass]="{'active':path=='/index/widget/mydatepicker'}">
          <a routerLink="/index/widget/mydatepicker">日期组件</a>
        </li>
        <li><a href="ui_tabs_accordions.html">Tabs & Accordions</a></li>
        <li><a href="ui_modal_notification.html">Modal & Notification</a></li>
        <li><a href="ui_widget_boxes.html">Widget Boxes</a></li>
        <li><a href="ui_media_object.html">Media Object</a></li>
        <li><a href="ui_predefined_css_classes.html">Predefined CSS Classes</a></li>
      </ul>
    </li>

    <li class="has-sub" routerLinkActive="active">
      <a href="#"><i class="iqon-regret"></i> angular教学 <span class="label">6</span></a>
      <ul class="dropdown-menu">
        <li routerLinkActive="active">
          <a routerLink="/index/services/window1">组件</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/services/window1">指令</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/services/window1">路由</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/services/window1">模块</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/services/window1">表单</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/services/window1">服务</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/index/services/window1">测试</a>
        </li>
      </ul>
    </li>

    <li class="has-sub" routerLinkActive="active">
      <a href="#"><i class="iqon-modal"></i> angular碎片 <span class="label">6</span></a>
      <ul class="dropdown-menu">
        <li routerLinkActive="active">
          <a routerLink="/index/piece/angular-selector">angular选择器</a>
        </li>
      </ul>
    </li>

    <li class="has-sub" routerLinkActive="active">
      <a href="#"><i class="iqon-location"></i> javascript <span class="label">6</span></a>
      <ul class="dropdown-menu">
        <li routerLinkActive="active">
          <a routerLink="/index/services/window1">说明1</a>
        </li>
      </ul>
    </li>

    <li class="has-sub" routerLinkActive="active">
      <a href="#"><i class="iqon-meeting"></i> css <span class="label">6</span></a>
      <ul class="dropdown-menu">
        <li routerLinkActive="active">
          <a routerLink="/index/services/window1">说明1</a>
        </li>
      </ul>
    </li>

    <li class="has-sub" routerLinkActive="active">
      <a href="#"><i class="iqon-photo"></i> html <span class="label">6</span></a>
      <ul class="dropdown-menu">
        <li routerLinkActive="active">
          <a routerLink="/index/services/window1">说明1</a>
        </li>
      </ul>
    </li>

    <li class="has-sub" routerLinkActive="active">
      <a href="#"><i class="iqon-news"></i> 更新日志 <span class="label">6</span></a>
      <ul class="dropdown-menu">
        <li routerLinkActive="active">
          <a routerLink="/index/services/window1">日志</a>
        </li>
      </ul>
    </li>

    


  </ul>
</div><!-- end #sidebar -->

<!--作为占位符，Angular将基于当前的路由器状态动态填充-->
<router-outlet ></router-outlet>
