/* 分页 */
.page{
    position: relative;
    text-align: left;
    background: #fff;
    color: #4A4A4A;
    padding: 20px;

    .page-size,.page-go,.page-all {
        margin-right: 15px;
        line-height: 30px;
    }

    .page-size {
        display: inline-block;
        margin-left: 8px;

        a {
            color: #4c4c4c;
            cursor: pointer;

            &:hover {
                text-decoration: none;
                color: #57b9f8;
            }
        }

        a.active {
            color: #57b9f8;
        }
    }

    .page-all{
        display: inline-block;
    }

    .page-center{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;

        .page-go {
            float: left;

            >input {
              width: 45px;
              height: 30px;
              margin: 0;
              padding: 0;
              padding-left: 5px;
              padding-right: 5px;
              border: solid 1px #ededed;
              line-height: 30px;
              text-align: center;
              background: #fff;
            }

            >button{
              height: 30px;
              margin-left: 10px;
              vertical-align: middle;
            }
        }

        .pagination {
            float: left;
            margin: 0;
            margin-right: 15px;
            line-height: 30px;

            ul {
                padding: 0;
                margin: 0;
                box-shadow: none;

                li {
                    float: left;

                    >a{
                        padding: 0;
                        background: #fff;
                        line-height: 30px;
                    }

                    >span{
                        margin: 0;
                        padding: 4px;
                        background: #fff;

                        &:hover{
                            color: #4A4A4A;
                        }
                    }

                    >a:hover{
                      background: #57b9f8;
                      border: 1px solid #57b9f8;
                      color: #fff;
                    }

                    i {
                        display: block;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        color: #4a4a4a;
                        cursor: pointer;

                        &:hover{
                            color: #aaa;
                        }
                    }

                    .disable>i{
                        color: #aaa;
                        cursor: not-allowed;
                    }

                    &:first-child>a, &:last-child>a{
                        border: none;

                        &:hover{
                            background: none;
                        }
                    }
                }
            }

            .active>a {
                background: #57b9f8!important;
                color: #fff;
                border: 1px solid #57b9f8;
            }

            a {
                display: inline-block;
                width: 30px;
                height: 30px;
                border: 1px solid #e1e3eb;
                color: #4A4A4A;
                text-align: center;
                cursor: pointer;
                transition: all .3s;
            }
        }
    }
}
