<div [@flyIn]="active">
  <showtem [stname]="'基础布局说'" [stnamedel]="'一个有趣的css'" >

    <!-- overview -->
    <ng-template [ngIf]="true" class='stview'>

      <h3>概述</h3>
      <p>
        定位,尺寸,浮动,两栏布局,三栏布局形成网页最基本的布局.
      </p>


      <div style="margin-top:35px;">
        <h3>定位(position)</h3>
        <div style="padding:0px 10px;">
          <p>六大属性值:</p>
          <p>● static：默认值。没有定位，元素出现在正常的流中（忽略 top, bottom, left, right 或者 z-index 声明）。</p>
          <p>● relative: 相对定位。元素框相对于之前正常文档流中的位置发生偏移，并且原先的位置仍然被占据。发生偏移的时候，可能会覆盖其他元素。</p>
          <p>● absolute: 绝对定位。元素框不再占有文档流位置，并且相对于最近一级外层元素position不为static的元素进行偏移.</p>
          <p>● fixed：固定定位。元素框不再占有文档流位置，并且相对于视窗进行定位.</p>
          <p>● sticky：粘性定位,css3新属性,它相当于relative和fixed混合。在目标区域在屏幕中时,会被当作是relative，相对于原来的位置进行偏移；而当页面滚动超出目标区域时，会被当成fixed定位，
            <span style="margin-left:52px;">相对于视口进行定位。现在只有webkit nightly版本和chrome 开发版(Chrome 23.0.1247.0+ Canary)才开始支持它。</span>
          </p>
          <p>● inherit : 规定应该从父元素继承 position 属性的值。</p>
          <showcode>
            <div class="shows" style="margin-left:-130px;">
                  <span>.sticky [position: -webkit-sticky; position:sticky; top: 15px;  ]</span>
                  <span>sticky用法,目前需要用私有前缀.</span>
              </div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>尺寸（size）</h3>
        <div style="padding:0px 10px;">
          <p>● px: CSS像素是Web编程的概念，指的是CSS样式代码中使用的逻辑像素。</p>
          <p>● 百分比：百分比的参照物是父元素，50%相当于父元素width的50%</p>
          <p>● rem: 这个对于复杂的设计图相当有用，它是相对于html的font-size的大小</p>
          <p>● em：是一个相对的单位，相对于父元素的font-size，但并不常用</p>
          <showcode>
            <div class="shows"></div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>浮动（float）</h3>
        <div style="padding:0px 10px;">
          <p>● 概述: 浮动就是让某个div元素脱离标准流，漂浮在标准流之上，和标准流不是一个层次。其目的是为了让多个div在一行显示.</p>
          <p>● 原因: 设置浮动后的元素会形成BFC（使得内部的元素不会被外部所干扰），并且元素的宽度也不再自适应父元素宽度，而是适应自身内容。这样就可以，轻松地实现多栏布局的效果。</p>
          <p>● 规则: 假如某个div元素A是浮动的，如果A元素上一个元素也是浮动的，那么A元素会跟随在上一个元素的后边(如果一行放不下这两个元素，那么A元素会被挤到下一行)；如果A元素上一个 <span style="margin-left:40px;">元素是标准流中的元素，那么A的相对垂直位置不会改变，也就是说A的顶部总是和上一个元素的底部对齐。</span></p>
          <p style="margin-left:40px;"><img src="./assets/img/1.jpg" alt=""></p>
          <p>● 属性: </p>
          <p style="margin-left:40px">
              <span>① left ：元素向左浮动。</span><br>
              <span>② right ：元素向右浮动。</span><br>
              <span>③ none ：默认值。</span><br>
              <span>④ inherit ：从父元素继承float属性。</span>
          </p>
          <p>● 清除浮动: 浮动元素对于布局来说，是特别危险的。因为你可能这一块做过浮动，但未做清除，那么将会造成高度塌陷的问题。</p>
          <!--<p>对于CSS的清除浮动(clear)，一定要牢记：这个规则只能影响使用清除的元素本身，不能影响其他元素。</p>-->
          <p style="margin-left: 11px;">我们希望看到是这样的</p>
          <p style="margin-left:40px;"><img src="./assets/img/2.png" alt=""></p>
          <p style="margin-left: 11px;">但结果却是这样的</p>
          <p style="margin-left:40px;"><img src="./assets/img/3.png" alt="" width="693px"></p>
          <p style="margin-left:40px">
              <span>① 使用双伪元素清除浮动</span><br>
              <span style="margin-left: 15px;">优点: 结构和语义化正确，推荐使用</span>
               <showcode>
                  <div class="shows" style="margin-left:-130px;">
                    &lt;div class="bow1 clear"&gt;
                        &lt;div class="box2"&gt;&lt;/div&gt;
                        &lt;div class="box3"&gt;&lt;/div&gt;
                    &lt;/div&gt;
                    .clearfix:before,.clearfix:after [display:block;content:"";clear:both;]
                  </div>
              </showcode>
              <span style="padding-top: 20px;display: inline-block;">② 添加额外的标签。通过在浮动元素末尾添加一个空的标签.</span><br>
              <span style="margin-left: 15px;">弊端：会增添许多无意义标签。不好后期维护。</span>
              <showcode>
                  <div class="shows" style="margin-left:-130px;">
                    &lt;div&gt;
                      &lt;h2&gt;1）清除浮动的第二种方法：添加额外标签&lt;/h2&gt;
                      &lt;div class="head"&gt;.&lt;/div&gt;
                      &lt;div class="center"&gt;&lt;/div&gt;
                      &lt;div style="clear:both;"&gt;&lt;/div&gt;
                    &lt;/div&gt;
                      &lt;div class="footer"&gt;.footer&lt;/div&gt;
                  </div>
              </showcode>
              
              <span>③ 父元素添加高度。</span><br>
              <span style="margin-left: 15px;">弊端：工作中很多都是自适应的。父元素添加高度往往不可行。</span><br>
              <span>④ 父元素设置overflow:hidden</span><br>
              <span style="margin-left: 15px;">弊端：当内容过多时导致内容被隐藏，无法显示需要溢出的元素。</span><br>
              <span>⑤ 父元素也设overflow:auto;</span><br>
              <span style="margin-left: 15px;">弊端：多个嵌套后，firefox某些情况会造成内容全选；IE中 mouseover 造成宽度改变时会出现最外层模块有滚动条等，firefox早期版本会无故产生focus等,</span><br>
              <span>⑥ 父元素也设置浮动</span><br>
              <span style="margin-left: 15px;">弊端：一定会因为父元素也发生了浮动，从而产生新的问题。</span><br>
              <span>⑦ 父元素设置display:table</span><br>
              <span style="margin-left: 15px;">弊端：盒模型被改变，会因此造成一系列问题。得不偿失</span><br>
          </p>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>两栏布局</h3>
        <div style="padding:0px 10px;">
          <p>● 两栏布局：一栏定宽，一栏自适应。固定栏可以做网页目录，自适应的可以作为内容主体。</p>
          <p style="margin-left:40px;"><img src="./assets/img/4.png" alt="" width="693px"></p>
          <p>● 实现的方式：</p>
          <p style="margin-left:40px;">
            <span>① float+margin（一侧定宽，一侧自动）</span>
            <showcode>
              <div class="shows" style="margin-left:-130px;">
                &lt;body&gt;
                  &lt;div class="left"&gt;定宽&lt;/div&gt;
                  &lt;div class="right"&gt;自适应&lt;/div&gt;
                &lt;/body&gt;
                .left[
                    width: 200px;
                    height: 600px;
                    background: yellow;
                    float: left;
                    text-align: center;
                    line-height: 600px;
                  ]
                .right[
                  margin-left: 210px;
                  height: 600px;
                  background: red;
                  text-align: center;
                  line-height: 600px;
                ]
              </div>
            </showcode>
            <span style="display:inline-block;padding-top:10px">② position+margin（一侧定宽，一侧自动）</span><br/>
            <showcode>
              <div class="shows" style="margin-left:-130px;">
                &lt;body&gt;
                  &lt;div class="left"&gt;定宽&lt;/div&gt;
                  &lt;div class="right"&gt;自适应&lt;/div&gt;
                &lt;/body&gt;
                .left[
                    width: 200px;
                    height:600px;
                    background: yellow;
                    position: absolute;
                  ]
                .right[
                    margin-left: 210px;
                    height: 600px;
                    background: red;
                ]
              </div>
            </showcode>
            <span style="display:inline-block;padding-top:10px">③ float+overflow:hidden（一侧定宽，一侧自动）</span><br/>
            <showcode>
              <div class="shows" style="margin-left:-130px;">
                &lt;body&gt;
                  &lt;div class="left"&gt;定宽&lt;/div&gt;
                  &lt;div class="right"&gt;自适应&lt;/div&gt;
                &lt;/body&gt;
                .left[
                    width: 200px;
                    height:600px;
                    background: yellow;
                    float:left;
                  ]
                .right[
                    overflow: hidden;
                    height: 600px;
                    background: red;
                ]
              </div>
            </showcode>
            <span style="display:inline-block;padding:10px 0">实现结果:</span><br/>
            <span><img src="./assets/img/5.png" alt="" width="693px"></span><br/>
          </p>
        </div>
      </div>
      <div style="margin-top:35px;">
        <h3>三栏布局</h3>
        <div style="padding:0px 10px;">
          <p>● 三栏布局:两边定宽，中间的width是auto的，可以自适应内容，再加上margin边距，来进行设定.</p>
           <p style="margin-left:40px;"><img src="./assets/img/6.png" alt="" width="693px"></p>
          <p>● 实现的方式：</p>
          <p style="margin-left:40px;">
            <span>① float+margin（两侧定宽，中间自适应）</span>
            <showcode>
                <div class="shows" style="margin-left:-130px;">
                  &lt;body&gt;
                  &lt;div class="left"&gt;左&lt;/div&gt;
                  &lt;div class="right"&gt;右&lt;/div&gt;
                  &lt;div class="center"&gt;中&lt;/div&gt;
                  &lt;/body&gt;
                  .left,.right,.center [
                      height: 200px; 
                      line-height:200px; 
                      text-align:center; 
                  ]
                  .left [
                      float:left; 
                      width: 200px; 
                      background-color: yellow;
                  ]
                  .right [
                      float:right; 
                      width: 200px; 
                      background-color: yellow;
                  ]
                  .center [
                      margin: 0 210px; 
                      background-color: red;
                  ]
                </div>
            </showcode>
            <span style="display:inline-block;padding-top:10px">② position+margin（两侧定宽，中间自适应）</span>
            <showcode>
                <div class="shows" style="margin-left:-130px;">
                  &lt;body&gt;
                  &lt;div class="left"&gt;左&lt;/div&gt;
                  &lt;div class="right"&gt;右&lt;/div&gt;
                  &lt;div class="center"&gt;中&lt;/div&gt;
                  &lt;/body&gt;
                  .left,.right,.center [
                      height: 200px; 
                      line-height:200px; 
                      text-align:center; 
                  ]
                  .left [
                      position:absolute; 
                      top:0; 
                      left:0; 
                      width: 200px; 
                      background-color: yellow;
                  ]
                  .right [
                      position:absolute;
                      top:0; 
                      right:0;
                      width: 200px; 
                      background-color: yellow;
                  ]
                  .center [
                      margin: 0 210px; 
                      background-color: red;
                  ]
                </div>
            </showcode>
            
            <span style="display:inline-block;padding-top:10px">③ position+margin（两侧自动，中间定宽）</span><br/>
            <showcode>
              <div class="shows" style="margin-left:-130px;">
                &lt;div class="m-center"&gt;中&lt;/div&gt;
                &lt;div class="left"&gt;
                    &lt;div class="main"&gt;左&lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="right"&gt;
                    &lt;div class="main"&gt;右&lt;/div&gt;
                &lt;/div&gt;
                .m-center [ 
                  z-index: 2; 
                  background-color: #666; 
                  width: 500px; 
                  margin-left: -250px; 
                  position: absolute;
                  top: 0; 
                  left: 50%; 
                ]
                .left, .right [ 
                  z-index: 1; 
                  position: absolute; 
                  top: 0; 
                  width: 50%; 
                ]
                .left [ left: 0; ]
                .left .main [ 
                  margin-right: 250px; 
                  background-color: #ccc;
                ]
                .right [ right: 0; ]
                .right .main [ 
                  margin-left: 250px; 
                  background-color: #ccc; 
                ]
              </div>
            </showcode>
            <span style="display:inline-block;padding-top:10px">④ float+position+margin（两侧自动，中间定宽）</span>
            <showcode>
                <div class="shows" style="margin-left:-130px;">
                  &lt;div class="warp1"&gt;
                      &lt;div class="m-box m-box1"&gt;左&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="warp2"&gt;
                      &lt;div class="m-box m-box2"&gt;右&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="m-box m-box3"&gt;中&lt;/div&gt;
                  .left,.right,.center [
                      height: 200px; 
                      line-height:200px; 
                      text-align:center; 
                      background:yellow;
                  ]
                  .warp1[
                    float:left; 
                    width:50%;
                    margin-right:-3px;
                  ]
                  .warp2[
                    margin-left:50%; 
                    text-align:right; 
                    margin-left:0; 
                    zoom:1;
                  ]
                  .m-box1[
                    margin-right:100px;
                  ]
                  .m-box2[
                    margin-left:100px;
                  ]
                  .m-box3[
                    background:red;
                    width:200px; 
                    position:absolute; 
                    left:50%; 
                    margin-left:-100px; 
                    top:0; 
                    z-index:2;
                  ]
                </div>
            </showcode>
            <span style="display:inline-block;padding:10px 0">实现结果:</span><br/>
            <span><img src="./assets/img/7.png" alt="" width="693px"></span><br/>
          </p>
        </div>
      </div>
    </ng-template>

  <!-- API -->
  <ng-template [ngIf]="true" class='stitemo'>

    <showitemo [sitemotitle]="'属性'">
      <ng-template [ngIf]="true" class="sitemocon">

        <table class="table">
          <thead>
            <tr>
              <th>参数</th>
              <th>说明</th>
              <th>类型</th>
              <th>可选值</th>
              <th>默认值</th>
              <th>是否必选</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </showitemo>

  </ng-template>

  </showtem>
</div>
