<div [@flyIn]="'in'">
  <showtem [stname]="'基础布局说'" [stnamedel]="'一个有趣的css'" >

    <!-- overview -->
    <ng-template [ngIf]="true" class='stview'>

      <h3>概述</h3>
      <p>
        定位,尺寸,浮动,两栏布局,三栏布局形成网页最基本的布局.
      </p>


      <div style="margin-top:35px;">
        <h3>定位(position)</h3>
        <div style="padding:0px 10px;">
          <p>六大属性值:</p>
          <p>● <code>static</code>：默认值。没有定位，元素出现在正常的流中.</p>
          <p>● <code>relative</code>: 相对定位。元素框相对于之前正常文档流中的位置发生偏移，并且原先的位置仍然被占据。发生偏移的时候，可能会覆盖其他元素。</p>
          <p>● <code>absolute</code>: 绝对定位。元素框不再占有文档流位置，并且相对于最近一级外层元素position不为static的元素进行偏移.</p>
          <p>● <code>fixed</code>：固定定位。元素框不再占有文档流位置，并且相对于视窗进行定位.</p>
          <p style="display: flex;">● <code style="height: 22px;">sticky</code>：<span>粘性定位,css3新属性,它相当于relative和fixed混合。在目标区域在屏幕中时,会被当作是relative，相对于原来的位置进行偏移；而当页面滚动超出目标区域时，会被当成fixed定位,相对于视口进行定位。现在只有webkit nightly版本和chrome 开发版(Chrome 23.0.1247.0+ Canary)才开始支持它。</span>
          </p>
          <p>● <code>inherit</code> : 规定应该从父元素继承 position 属性的值。</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
              <span>.sticky {{'{'}}position: -webkit-sticky; position:sticky; top: 15px;  {{'}'}}</span>
              <span>sticky用法,目前需要用私有前缀.</span>
            </div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>尺寸（size）</h3>
        <div style="padding:0px 10px;">
          <p>● <code>px</code>: CSS像素是Web编程的概念，指的是CSS样式代码中使用的逻辑像素。</p>
          <p>● <code>百分比</code>：百分比的参照物是父元素，50%相当于父元素width的50%.</p>
          <p>● <code>rem</code>: 这个对于复杂的设计图相当有用，它是相对于html的font-size的大小</p>
          <p>● <code>em</code>：是一个相对的单位，相对于父元素的font-size</p>
          <p>● <code>vh</code>：相对于视口的高度。视口被均分为100单位的vh</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
            h1 {{'{'}}
                font-size: 8vh;
            {{'}'}}
            <span>如果视口的高度是200mm，那么上述代码中h1元素的字号将为16mm，即(8x200)/100</span>
            </div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>浮动（float）</h3>
        <div style="padding:0px 10px;">
          <p>● 概述: 浮动就是让某个div元素脱离标准流，漂浮在标准流之上，和标准流不是一个层次。其目的是为了让多个div在一行显示.</p>
          <p>● 原因: 设置浮动后的元素会形成BFC（使得内部的元素不会被外部所干扰），并且元素的宽度也不再自适应父元素宽度，而是适应自身内容。这样就可以，轻松地实现多栏布局的效果。</p>
          <p>● 规则: 假如某个div元素A是浮动的，如果A元素上一个元素也是浮动的，那么A元素会跟随在上一个元素的后边(如果一行放不下这两个元素，那么A元素会被挤到下一行)；如果A元素上一个 <span style="margin-left:40px;">元素是标准流中的元素，那么A的相对垂直位置不会改变，也就是说A的顶部总是和上一个元素的底部对齐。</span></p>
          <p style="margin-left:40px;"><img src="./assets/img/1.jpg" alt=""></p>
          <p>● 属性: </p>
          <p style="margin-left:40px">
              <span>① <code>left</code> ：元素向左浮动。</span><br>
              <span>② <code>right</code> ：元素向右浮动。</span><br>
              <span>③ <code>none</code> ：默认值。</span><br>
              <span>④ <code>inherit</code> ：从父元素继承float属性。</span>
          </p>
          <p>● 清除浮动: 浮动元素对于布局来说，是特别危险的。因为你可能这一块做过浮动，但未做清除，那么将会造成高度塌陷的问题。</p>
          <p style="margin-left: 11px;">我们希望看到是这样的</p>
          <p style="margin-left:40px;"><img src="./assets/img/2.png" alt=""></p>
          <p style="margin-left: 11px;">但结果却是这样的</p>
          <p style="margin-left:40px;"><img src="./assets/img/3.png" alt="" width="693px"></p>
          <p style="margin-left:40px">
              <span>① 使用双伪元素清除浮动</span><br>
              <span style="margin-left: 15px;">优点: 结构和语义化正确，推荐使用</span>
               <showcode>
                  <div class="shows" style="margin-left:-130px;">
                    &lt;div class="bow1 clear"&gt;
                        &lt;div class="box2"&gt;&lt;/div&gt;
                        &lt;div class="box3"&gt;&lt;/div&gt;
                    &lt;/div&gt;
                    .clearfix:before,.clearfix:after [display:block;content:"";clear:both;]
                  </div>
              </showcode>
              <span style="padding-top: 20px;display: inline-block;">② 添加额外的标签。通过在浮动元素末尾添加一个空的标签.</span><br>
              <span style="margin-left: 15px;">弊端：会增添许多无意义标签。不好后期维护。</span>
              <showcode>
                  <div class="shows" style="margin-left:-130px;">
                    &lt;div&gt;
                      &lt;h2&gt;1）清除浮动的第二种方法：添加额外标签&lt;/h2&gt;
                      &lt;div class="head"&gt;.&lt;/div&gt;
                      &lt;div class="center"&gt;&lt;/div&gt;
                      &lt;div style="clear:both;"&gt;&lt;/div&gt;
                    &lt;/div&gt;
                      &lt;div class="footer"&gt;.footer&lt;/div&gt;
                  </div>
              </showcode>
              
              <span>③ 父元素添加高度。</span><br>
              <span style="margin-left: 15px;">弊端：工作中很多都是自适应的。父元素添加高度往往不可行。</span><br>
              <span>④ 父元素设置<code>overflow:hidden</code></span><br>
              <span style="margin-left: 15px;">弊端：当内容过多时导致内容被隐藏，无法显示需要溢出的元素。</span><br>
              <span>⑤ 父元素也设<code>overflow:auto</code>;</span><br>
              <span style="margin-left: 15px;">弊端：多个嵌套后，firefox某些情况会造成内容全选；IE中 mouseover 造成宽度改变时会出现最外层模块有滚动条等，firefox早期版本会无故产生focus等,</span><br>
              <span>⑥ 父元素也设置浮动</span><br>
              <span style="margin-left: 15px;">弊端：一定会因为父元素也发生了浮动，从而产生新的问题。</span><br>
              <span>⑦ 父元素设置<code>display:table</code></span><br>
              <span style="margin-left: 15px;">弊端：盒模型被改变，会因此造成一系列问题。得不偿失</span><br>
          </p>
        </div>
      </div>
      <div style="margin-top:35px;">
        <h3>两栏布局</h3>
        <div style="padding:0px 10px;">
          <p>● 两栏布局：一栏定宽，一栏自适应。固定栏可以做网页目录，自适应的可以作为内容主体。</p>
          <p style="margin-left:40px;"><img src="./assets/img/4.png" alt="" width="693px"></p>
          <p>● 实现的方式：</p>
          <p style="margin-left:40px;">
            <span>① <code>float+margin</code>（一侧定宽，一侧自动）</span>
            <showcode>
              <div class="shows" style="margin-left:-130px;">
                &lt;body&gt;
                  &lt;div class="left"&gt;定宽&lt;/div&gt;
                  &lt;div class="right"&gt;自适应&lt;/div&gt;
                &lt;/body&gt;
                .left{{'{'}}
                    float: left;
                    width: 200px;
                    height: 600px;
                    background: yellow;
                  {{'}'}}
                .right{{'{'}}
                  margin-left: 210px;
                  height: 600px;
                  background: red;
                {{'}'}}
              </div>
            </showcode>
            <span style="display:inline-block;padding-top:10px">② <code>position+margin</code>（一侧定宽，一侧自动）</span><br/>
            <showcode>
              <div class="shows" style="margin-left:-130px;">
                &lt;body&gt;
                  &lt;div class="left"&gt;定宽&lt;/div&gt;
                  &lt;div class="right"&gt;自适应&lt;/div&gt;
                &lt;/body&gt;
                .left{{'{'}}
                    position: absolute;
                    width: 200px;
                    height:600px;
                    background: yellow;
                  {{'}'}}
                .right{{'{'}}
                    margin-left: 210px;
                    height: 600px;
                    background: red;
                {{'}'}}
              </div>
            </showcode>
            <span style="display:inline-block;padding-top:10px">③ <code>float+overflow:hidden</code>（一侧定宽，一侧自动）</span><br/>
            <showcode>
              <div class="shows" style="margin-left:-130px;">
                &lt;body&gt;
                  &lt;div class="left"&gt;定宽&lt;/div&gt;
                  &lt;div class="right"&gt;自适应&lt;/div&gt;
                &lt;/body&gt;
                .left{{'{'}}
                    width: 200px;
                    height:600px;
                    background: yellow;
                    float:left;
                  {{'}'}}
                .right{{'{'}}
                    overflow: hidden;
                    height: 600px;
                    background: red;
                {{'}'}}
              </div>
            </showcode>
          </p>
        </div>
      </div>
      <div style="margin-top:35px;">
        <h3>三栏布局</h3>
        <div style="padding:0px 10px;">
          <p>● 三栏布局:两边定宽，中间的width是auto的，可以自适应内容，再加上margin边距，来进行设定.</p>
           <p style="margin-left:40px;"><img src="./assets/img/6.png" alt="" width="693px"></p>
          <p>● 实现的方式：</p>
          <p style="margin-left:40px;">
            <span>① <code>float+margin</code>（两侧定宽，中间自适应）</span><br/>
            <span style="margin-left: 11px;">缺点：1. 当宽度小于左右两边宽度之和时，右侧栏会被挤下去；2. html的结构不正确</span>
            <showcode>
                <div class="shows" style="margin-left:-130px;">
                  &lt;body&gt;
                  &lt;div class="left"&gt;左&lt;/div&gt;
                  &lt;div class="right"&gt;右&lt;/div&gt;
                  &lt;div class="center"&gt;中&lt;/div&gt;
                  &lt;/body&gt;
                  .left,.right,.center {{'{'}}
                      height: 200px; 
                      line-height:200px; 
                      text-align:center; 
                  {{'}'}}
                  .left {{'{'}}
                      float:left; 
                      width: 200px; 
                      background-color: yellow;
                  {{'}'}}
                  .right {{'{'}}
                      float:right; 
                      width: 200px; 
                      background-color: yellow;
                  {{'}'}}
                  .center {{'{'}}
                      margin: 0 210px; 
                      background-color: red;
                  {{'}'}}
                </div>
            </showcode>
            <span style="display:inline-block;padding-top:10px">② <code>position+margin</code>（两侧定宽，中间自适应）,左右两栏使用position进行定位，中间栏使用margin进行定位</span><br>
            <span style="margin-left: 11px;">优点：html结构正常。</span><br/>
            <span style="margin-left: 11px;">缺点：当父元素有内外边距时，会导致中间栏的位置出现偏差</span>
            <showcode>
                <div class="shows" style="margin-left:-130px;">
                  &lt;body&gt;
                  &lt;div class="left"&gt;左&lt;/div&gt;
                  &lt;div class="right"&gt;右&lt;/div&gt;
                  &lt;div class="center"&gt;中&lt;/div&gt;
                  &lt;/body&gt;
                  .left,.right,.center {{'{'}}
                      height: 200px; 
                      line-height:200px; 
                      text-align:center; 
                  {{'}'}}
                  .left {{'{'}}
                      position:absolute; 
                      top:0; 
                      left:0; 
                      width: 200px; 
                      background-color: yellow;
                  {{'}'}}
                  .right {{'{'}}
                      position:absolute;
                      top:0; 
                      right:0;
                      width: 200px; 
                      background-color: yellow;
                  {{'}'}}
                  .center {{'{'}}
                      margin: 0 210px; 
                      background-color: red;
                  {{'}'}}
                </div>
            </showcode>
            <span style="display:inline-block;padding-top:10px">③  <code>flex</code>布局</span>
             <showcode>
                <div class="shows" style="margin-left:-130px;">
                  &lt;div class="wrapper"&gt;
                  &lt;div class="left"&gt;左&lt;/div&gt;
                  &lt;div class="center"&gt;中&lt;/div&gt;
                  &lt;div class="right"&gt;右&lt;/div&gt;
                  &lt;/div&gt;
                  .wrapper{{'{'}}
                      display: flex;
                  {{'}'}}
                  .left{{'{'}}
                      width: 200px;
                      height: 300px;
                      background: green;
                  {{'}'}}
                  .center{{'{'}}
                      width: 100%;
                      background: red;
                      marign: 0 200px;
                  {{'}'}}
                  .right{{'{'}}
                      width: 200px;
                      height: 300px;
                      background: yellow;
                  {{'}'}}   
                </div>
            </showcode>
            <span style="display:inline-block;padding-top:10px">③ <code>position+margin</code>（两侧自动，中间定宽）</span><br/>
            <showcode>
              <div class="shows" style="margin-left:-130px;">
                &lt;div class="m-center"&gt;中&lt;/div&gt;
                &lt;div class="left"&gt;
                    &lt;div class="main"&gt;左&lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="right"&gt;
                    &lt;div class="main"&gt;右&lt;/div&gt;
                &lt;/div&gt;
                .m-center {{'{'}} 
                  z-index: 2; 
                  background-color: #666; 
                  width: 500px; 
                  margin-left: -250px; 
                  position: absolute;
                  top: 0; 
                  left: 50%; 
                {{'}'}}
                .left, .right {{'{'}} 
                  z-index: 1; 
                  position: absolute; 
                  top: 0; 
                  width: 50%; 
                {{'}'}}
                .left {{'{'}} left: 0; {{'}'}}
                .left .main {{'{'}} 
                  margin-right: 250px; 
                  background-color: #ccc;
                {{'}'}}
                .right {{'{'}} right: 0; {{'}'}}
                .right .main {{'{'}} 
                  margin-left: 250px; 
                  background-color: #ccc; 
                {{'}'}}
              </div>
            </showcode>
            <span style="display:inline-block;padding-top:10px">④ <code>float+position+margin</code>（两侧自动，中间定宽）</span>
            <showcode>
                <div class="shows" style="margin-left:-130px;">
                  &lt;div class="warp1"&gt;
                      &lt;div class="m-box m-box1"&gt;左&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="warp2"&gt;
                      &lt;div class="m-box m-box2"&gt;右&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="m-box m-box3"&gt;中&lt;/div&gt;
                  .left,.right,.center {{'{'}}
                      height: 200px; 
                      line-height:200px; 
                      text-align:center; 
                      background:yellow;
                  {{'}'}}
                  .warp1{{'{'}}
                    float:left; 
                    width:50%;
                    margin-right:-3px;
                  {{'}'}}
                  .warp2{{'{'}}
                    margin-left:50%; 
                    text-align:right; 
                    margin-left:0; 
                    zoom:1;
                  {{'}'}}
                  .m-box1{{'{'}}
                    margin-right:100px;
                  {{'}'}}
                  .m-box2{{'{'}}
                    margin-left:100px;
                  {{'}'}}
                  .m-box3{{'{'}}
                    background:red;
                    width:200px; 
                    position:absolute; 
                    left:50%; 
                    margin-left:-100px; 
                    top:0; 
                    z-index:2;
                  {{'}'}}
                </div>
            </showcode>
            <span style="display:inline-block;padding:10px 0">实现结果:</span><br/>
            <span><img src="./assets/img/7.png" alt="" width="693px"></span><br/>
          </p>
        </div>
      </div>

       
    </ng-template>

  <!-- API -->
  <ng-template [ngIf]="true" class='stitemo'>

    <showitemo [sitemotitle]="'属性'">
      <ng-template [ngIf]="true" class="sitemocon">

        <table class="table">
          <thead>
            <tr>
              <th>参数</th>
              <th>说明</th>
              <th>类型</th>
              <th>可选值</th>
              <th>默认值</th>
              <th>是否必选</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </showitemo>

  </ng-template>
  <!-- stitemexample -->
  <ng-template [ngIf]="true" class="stitemexample">

    <showitemexample>

      <ng-template [ngIf]="true" class="stitempcon">
        <div class="showhow">

          <p>简单示例：两栏布局,左侧固定,右侧自适应.</p>
          <div style="width: 70%">
            <img src="./assets/img/8.png">
          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]="true" class="stitemphtml">
        <pre iqhighlight>
          <code class="html">
            &lt;div class="wrap"&gt;
              &lt;div class="g-hd"&gt;DBOMS头部&lt;/div&gt;
              &lt;div class="g-hdp"&gt;
                &lt;div class="g-list"&gt;左侧导航&lt;/div&gt;
                &lt;div class="g-right"&gt;
                  &lt;div class="m-boardtop"&gt;面包屑导航&lt;/div&gt;
                  &lt;div class="m-overclass"&gt;主要内容&lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          </code>
        </pre>

      </ng-template>

      <ng-template [ngIf]="true" class="stitempts">
        <pre iqhighlight>
          <code  class="javascript">
          </code>
        </pre>
      </ng-template>

      <ng-template [ngIf]="true" class="stitempcss">
        <pre iqhighlight>
          <code class="css">
            body{{'{'}}
              overflow:hidden;   //消除最外部滚动条
            {{'}'}}
            .g-hd{{'{'}}
              position: absolute;  //头部固定
              top: 0;
              width: 100%;
              min-width: 1200px;
              height: 61.5px;
              line-height: 61.5px;
              padding: 0 25px;
              background-color: #57b9f8;
            {{'}'}}

            .g-hdp{{'{'}}
              position: absolute;
              top: 61.5px;
              width: 100%;
              min-width: 1200px;
              height: calc(100vh - 61.5px);   //高度自适应屏幕大小,且减去头部的高度
              .g-list{{'{'}}
                  float: left;
                  width: 240px;
                  height: 100%;   
                  min-height: 395px; 
                  background: #fff none repeat scroll 0 0;
                  border-right: 1px solid #e2e2e2;
              {{'}'}}
              .g-right{{'{'}}
                  margin-left: 240px;
                  height: 100%;
                  min-width: 915px;
                  overflow: auto;   //内容区域出现滚动条
                  .m-boardtop{{'{'}}
                      width: 100%;
                      height: 50px;
                      line-height: 50px;
                      padding: 0 20px 0 25px;
                      background: #f5f8fb none repeat scroll 0 0;
                      border-bottom: 1px solid #e2e2e2;
                  {{'}'}}
                  .m-overclass{{'{'}}
                      min-height: calc(100vh - 155px);
                      padding: 10px 20px;
                      margin: 20px;
                      background: blueviolet;
                  {{'}'}}
              {{'}'}}
            {{'}'}}

          </code>
        </pre>
      </ng-template>
    </showitemexample>
    <showitemexample>
      <ng-template [ngIf]="true" class="stitempcon">
        <div class="showhow">

          <p>简单示例：父与子两个div,父元素右浮动,子元素绝对定位.</p>
          <p>此时,子元素不会随着父元素的移动而移动,而是相对于body去定位.</p>
          <div style="width: 70%">
              <img src="./assets/img/17.png">
          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]="true" class="stitemphtml">
        <pre iqhighlight>
          <code class="html">
              &lt;div class="parent"&gt;
                &lt;div class="child"&gt;&lt;/div&gt;
              &lt;/div&gt;
          </code>
        </pre>

      </ng-template>

      <ng-template [ngIf]="true" class="stitempts">
        <pre iqhighlight>
          <code  class="javascript">
          </code>
        </pre>
      </ng-template>

      <ng-template [ngIf]="true" class="stitempcss">
        <pre iqhighlight>
          <code class="css">
            .parent{{'{'}}
              float: right;
              width: 200px;
              height: 200px;
              background: blueviolet;
            {{'}'}}
            .child{{'{'}}
              position:absolute;
              left:100px;
              top:100px;
              background:#57b9f8;
            {{'}'}}
          </code>
        </pre>
      </ng-template>
    </showitemexample>
    <showitemexample>
      <ng-template [ngIf]="true" class="stitempcon">
        <div class="showhow">

          <p>简单示例：父与子两个div,父元素右浮动+相对定位,子元素绝对定位.</p>
          <p>此时,子元素会随着父元素右浮动,且会相对于父元素去定位.</p>
          <div style="width: 70%">
              <img src="./assets/img/18.png">
          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]="true" class="stitemphtml">
        <pre iqhighlight>
          <code class="html">
              &lt;div class="parent"&gt;
                &lt;div class="child"&gt;&lt;/div&gt;
              &lt;/div&gt;
          </code>
        </pre>

      </ng-template>

      <ng-template [ngIf]="true" class="stitempts">
        <pre iqhighlight>
          <code  class="javascript">
          </code>
        </pre>
      </ng-template>

      <ng-template [ngIf]="true" class="stitempcss">
        <pre iqhighlight>
          <code class="css">
            .parent{{'{'}}
              position:relative;
              float: right;
              width: 200px;
              height: 200px;
              background: blueviolet;
            {{'}'}}
            .child{{'{'}}
              position:absolute;
              left:100px;
              top:100px;
              background:#57b9f8;
            {{'}'}}
          </code>
        </pre>
      </ng-template>
    </showitemexample>
    <showitemexample>
      <ng-template [ngIf]="true" class="stitempcon">
        <div class="showhow">

          <p>简单示例：div同时右浮动 + 绝对定位 + margin.</p>
          <p>此时,元素的浮动不会生效,定位+margin会同时生效.</p>
          <div style="width: 70%">
              <img src="./assets/img/19.png">
          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]="true" class="stitemphtml">
        <pre iqhighlight>
          <code class="html">
              &lt;div class="parent"&gt;&lt;/div&gt;
          </code>
        </pre>

      </ng-template>

      <ng-template [ngIf]="true" class="stitempts">
        <pre iqhighlight>
          <code  class="javascript">
          </code>
        </pre>
      </ng-template>

      <ng-template [ngIf]="true" class="stitempcss">
        <pre iqhighlight>
          <code class="css">
            .parent{{'{'}}
              position:absolute;
              left:100px;
              margin-left:100px;
              float: right;
              width: 200px;
              height: 200px;
              background: blueviolet;
            {{'}'}}
          </code>
        </pre>
      </ng-template>
    </showitemexample>
    <showitemexample>
      <ng-template [ngIf]="true" class="stitempcon">
        <div class="showhow">

          <p>简单示例：div同时右浮动 + 相对定位 + margin.</p>
          <p>此时,元素的 <code>margin-left</code>不会生效,右浮动 + 相对定位会同时生效.</p>
          <div style="width: 70%">
              <img src="./assets/img/20.png">
          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]="true" class="stitemphtml">
        <pre iqhighlight>
          <code class="html">
              &lt;div class="parent"&gt;&lt;/div&gt;
          </code>
        </pre>

      </ng-template>

      <ng-template [ngIf]="true" class="stitempts">
        <pre iqhighlight>
          <code  class="javascript">
          </code>
        </pre>
      </ng-template>

      <ng-template [ngIf]="true" class="stitempcss">
        <pre iqhighlight>
          <code class="css">
            .parent{{'{'}}
              position: relative;
              left: 50px;
              top: 100px;
              margin-left: 200px;
              margin-top: 100px;
              float: right;
              width: 200px;
              height: 200px;
              background: blueviolet;
            {{'}'}}
          </code>
        </pre>
      </ng-template>
    </showitemexample>
  </ng-template>

  </showtem>
</div>
