$border: 1px solid #fff;

table{
  width: 100%;
  
  thead>tr>th{
    border: $border;
  }
  tbody>tr{
    &.bug-new>td{
      padding: 0;

      >input{
        margin: 0;
      }

      /deep/ .my-datepicker .m-input{
        color: #fff;
        background: rgba(0,0,0,.2);
      }
    }

    >td{
      border: $border;
      padding: 0 5px;

      &.operate{
        text-align: center;
        width: 90px;

        button{
          margin: 0;
          color: #57b9f8;

          &:hover{
            color: orange;
          }
        }
      }

      .m-select{
        width: 70px;
        display: inline-block;
        background: none;
        select{
          margin: 0;
          padding: 0 4px;
        }
      }
    }
  }
}

.container-fluid>.row-fluid>.span12>.widget /deep/ .page{
  background: none;
  color: #fff;

  .page-size>a{
    color: #fff;

    &.active{
      color: #57b9f8;
    }
  }

  .page-center{
    >.pagination>ul>li{

      &:first-child>a,&:first-child>a{
        border: none!important;
      }

      >a{
        color: #fff;
        background: none;
        border-color: #999!important;

        &.disable>i{
          color: #4a4a4a;
        }

        >i{
          color: #aaa;
        }
      }
    }

    >.page-go{

      >input{
        background: none;
        border-color: #999!important;
      }

      >button.m-btn-default{
        background: none;
        color: #fff;
      }
    }
  }
}