<div [@flyIn]="'in'">
  <div id="content">
    <div class="container-fluid">
      <h1 class="page-title">bug管理<small>一次有趣的管理</small></h1>
      <div class="row-fluid">
        <loading [show]="loading" type="round2" [style]="{background:'rgba(0,0,0,0)'}"></loading>
        <div class="widget">
          <button type="button" class="m-btn-success" (click)="addNewItem()">新增项目bug管理</button>
          <ul class="taskname clearfix">
            <li *ngFor="let item of itemList" (click)="showDetail(item.id)">{{item.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
