<div [@flyIn]="'in'">
  <div id="content">
    <div class="container-fluid">
      <h1 class="page-title">bug管理分析<small>一次有趣的分析</small></h1>
      <div class="row-fluid">
        <div class="span12">
          <div class="widget">
            <!--内容开始-->
            <loading [show]="loading" [style]="{background: 'rgba(0,0,0,.3)'}"></loading>
            <button class="m-btn-success" style="margin-bottom: 10px;" (click)="goBack()">返回</button>
            <div class="clearfix">
              <div class="m-form-item">
                <label>责任人</label>
                <div class="m-select">
                  <i class="iqon-xia"></i>
                  <select [(ngModel)]="query.username" name="username">
                    <option [ngValue]="undefined" hidden>-请选择责任人</option>
                    <option *ngFor="let user of users" [ngValue]="user.nickname">{{user.nickname}}</option>
                  </select>
                </div>
              </div>
              <div class="m-form-item">
                <label>类型</label>
                <div class="m-select">
                  <i class="iqon-xia"></i>
                  <select [(ngModel)]="query.type" (ngModelChange)="queryTypeChange($event)" name="type">
                    <option [ngValue]="undefined" hidden>-请选择类型</option>
                    <option *ngFor="let item of bugType" [ngValue]="item.type">{{item.type}}</option>
                  </select>
                </div>
              </div>
              <div class="m-form-item">
                <label>子类型</label>
                <div class="m-select">
                  <i class="iqon-xia"></i>
                  <select [(ngModel)]="query.childtype" name="childtype">
                    <option [ngValue]="undefined" hidden>-请选择子类型</option>
                    <option *ngFor="let item of queryChildType" [ngValue]="item">{{item}}</option>
                  </select>
                </div>
              </div>
              <div class="m-form-item" style="line-height: 35px;">
                <label>严重等级</label>
                <!-- <input type="text" [(ngModel)]="query.grade" name="grade"> -->
                <iq-star-rating [(ngModel)]="query.grade" name="grade" [style]="{fontSize: '16px',padding: '0 3px'}"></iq-star-rating>
              </div>
              <div class="m-form-item">
                <label>产生日期</label>
                <div style="display: inline-block;width: 250px;">
                  <iq-datepicker [(ngModel)]="query.triggerdate" format="YYYY-MM-DD" placeHolder="-请选择日期"></iq-datepicker>
                </div>
              </div>
              <div class="m-form-item">
                <label>状态</label>
                <div class="m-select">
                  <i class="iqon-xia"></i>
                  <select [(ngModel)]="query.state" name="state">
                    <option [ngValue]="undefined" hidden>-请选择状态</option>
                    <option value="新建">新建</option>
                    <option value="正在修改">正在修改</option>
                    <option value="待测试">待测试</option>
                    <option value="被拒绝">被拒绝</option>
                    <option value="驳回">驳回</option>
                    <option value="重新打开">重新打开</option>
                    <option value="关闭">关闭</option>
                  </select>
                </div>
              </div>
              <div style="margin-bottom: 20px;text-align: center;">
                <button class="m-btn-confirm" type="button" (click)="search()" style="margin-right: 15px;">搜索</button>
                <button class="m-btn-cancel" type="button" (click)="reset()">重置</button>
              </div>
            </div>
            <table>
              <thead>
                <tr>
                  <th>描述</th>
                  <th>责任人</th>
                  <th>类型</th>
                  <th>子类型</th>
                  <th>严重等级</th>
                  <th>状态</th>
                  <th>产生日期</th>
                  <th>关闭日期</th>
                  <th>图片说明</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of bugList">
                  <td>{{item.describe}}</td>
                  <td style="text-align:center;">{{item.username}}</td>
                  <td style="text-align:center;">{{item.type}}</td>
                  <td style="text-align:center;">{{item.childtype}}</td>
                  <td style="text-align:center;"><iq-star-rating [(ngModel)]="item.grade" disabled name="grade"></iq-star-rating></td>
                  <td style="text-align:center;">{{item.state}}</td>
                  <td style="text-align:center;">{{item.triggerdate}}</td>
                  <td style="text-align:center;">{{item.closedate}}</td>
                  <td>
                    <ul class="pic-list">
                      <li *ngFor="let file of item.file" (mouseover)="loadImage($event,file.url)" (mouseout)="imgSrc=''">{{file.name}}</li>
                    </ul>
                  </td>
                  <td class="operate">
                  <!--*ngIf="item.state !== '关闭'" -->
                    <button class="m-btn-text" (click)="edit(item)">编辑</button>
                    <button class="m-btn-text" (click)="delete(item)">删除</button>
                  </td>
                </tr>
                <tr class="bug-new">
                  <td><input [(ngModel)]="newBug.describe" type="text" name=""></td>
                  <td>
                    <div class="m-select">
                      <i class="iqon-xia"></i>
                      <select [(ngModel)]="newBug.username" name="username">
                        <option *ngFor="let user of users" [ngValue]="user.nickname">{{user.nickname}}</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="m-select">
                      <i class="iqon-xia"></i>
                      <select [(ngModel)]="newBug.type" (ngModelChange)="bugTypeChange($event)" name="type">
                        <option *ngFor="let item of bugType" [ngValue]="item.type">{{item.type}}</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="m-select">
                      <i class="iqon-xia"></i>
                      <select [(ngModel)]="newBug.childtype" name="childtype">
                        <option *ngFor="let item of childType" [ngValue]="item">{{item}}</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <iq-star-rating [(ngModel)]="newBug.grade" (ngModelChange)="newBug.grade=''+$event" name="grade"></iq-star-rating>
                  </td>
                  <td>
                    <div class="m-select">
                      <i class="iqon-xia"></i>
                      <select [(ngModel)]="newBug.state" name="state">
                        <option value="新建">新建</option>
                        <option value="正在修改">正在修改</option>
                        <option value="待测试">待测试</option>
                        <option value="被拒绝">被拒绝</option>
                        <option value="驳回">驳回</option>
                        <option value="重新打开">重新打开</option>
                        <option value="关闭">关闭</option>
                      </select>
                    </div>
                  </td>
                  <td width="10%">
                    <iq-datepicker [(ngModel)]="newBug.triggerdate" format="YYYY-MM-DD"></iq-datepicker>
                  </td>
                  <td width="10%">
                    <iq-datepicker [(ngModel)]="newBug.closedate" format="YYYY-MM-DD"></iq-datepicker>
                  </td>
                  <td width="10%">
                    <iq-file-upload #fileUpload upType="1" [url]="fileUploadUrl" [allowedFileType]="['image']" (onSuccess)="fileUploadSuccess($event)" text="上传图片"></iq-file-upload>
                  </td>
                  <td class="operate"><button class="m-btn-text" (click)="add()">增加</button></td>
                </tr>
              </tbody>
            </table>
            <iq-pager [data]="pager" (onChange)="pagerChange($event)"></iq-pager>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="position: fixed;background: #ccc;z-index: 9999;" [hidden]="!imgSrc">
  <loading [show]="imgLoading"></loading>
  <img #img [src]="imgSrc" (load)="imgLoaded()" alt="加载失败" style="max-height: 100vh">
</div>
