.m-dialog-head{
  padding: 0 20px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  background-color: #fff;
  border-bottom: 1px solid $def-link1-color;

  >i{
    float: right;
    line-height: 48px;
    color: $def-color1;
  }
}