<div class="widget">
  <div class="widget-header">
    <h4>Explain</h4>
  </div>
  <ng-content select=".stitempcon"></ng-content>
  <div class="widget-content">
    <form class="form-horizontal">
    <div class="showtemwizard">
      <ol>
        <li>HTML</li>
        <li>TS</li>
        <li>SCSS</li>
      </ol>
      <div>
        <ng-content select=".stitemphtml"></ng-content>
      </div>
      <div>
        <ng-content select=".stitempts"></ng-content>
      </div>
      <div>
        <ng-content select=".stitempcss"></ng-content>
      </div>
    </div>
    </form>
  </div>
</div>
