.tab-index{
  width: 600px;

  >li{
    float: left;
    width: 200px;
    list-style: none;
    text-align: center;
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    cursor: pointer;

    &.active{
      background: #a93;
    }
  }
}

.tab-cont>div{
  width: 600px;
  height: 80px;
  line-height: 80px;
  background: #ccc;
  color: #000;
  text-align: center;
  font-size: 30px;
}