<div [@flyIn]="active">
  <showtem [stname]="'tab切换组件'" [stnamedel]="'一个有趣的组件'" >

    <!-- overview -->
    <ng-template [ngIf]="true" class='stview'>

      <h3>概述</h3>
      <p>
        tab切换组件
      </p>

      <div style="margin-top:35px;">
        <h3>tabIndex, tabContent</h3>
        <div style="padding:0px 10px;">
          <p><code>tabIndex: string,  tabContent: string</code>； 定义组件的tab和content的对应关系</p>
          <div class="tab-demo">
            <iq-tab>
              <ul class="tab-index clearfix">
                <li tabIndex="abc">abc</li>
                <li tabIndex="def">def</li>
                <li tabIndex="ghi">ghi</li>
              </ul>
              <div class="tab-cont">
                <div tabContent="abc">abc</div>
                <div tabContent="def">def</div>
                <div tabContent="ghi">ghi</div>
              </div>
            </iq-tab>
          </div>
          <showcode>
            <div class="shows">
&lt;iq-tab&gt;
  &lt;ul class="tab-index clearfix"&gt;
    &lt;li tabIndex="abc"&gt;abc&lt;/li&gt;
    &lt;li tabIndex="def"&gt;def&lt;/li&gt;
    &lt;li tabIndex="ghi"&gt;ghi&lt;/li&gt;
  &lt;/ul&gt;
  &lt;div class="tab-cont"&gt;
    &lt;div tabContent="abc"&gt;abc&lt;/div&gt;
    &lt;div tabContent="def"&gt;def&lt;/div&gt;
    &lt;div tabContent="ghi"&gt;ghi&lt;/div&gt;
  &lt;/div&gt;
&lt;/iq-tab&gt;
            </div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>tabActiveClass</h3>
        <div style="padding:0px 10px;">
          <p><code>tabActiveClass: string</code>； 定义组件的tab激活时的className</p>
          <div class="tab-demo">
            <iq-tab tabActiveClass="active">
              <ul class="tab-index clearfix">
                <li tabIndex="abc">abc</li>
                <li tabIndex="def">def</li>
                <li tabIndex="ghi">ghi</li>
              </ul>
              <div class="tab-cont">
                <div tabContent="abc">abc</div>
                <div tabContent="def">def</div>
                <div tabContent="ghi">ghi</div>
              </div>
            </iq-tab>
          </div>
          <showcode>
            <div class="shows">
&lt;iq-tab tabActiveClass="active"&gt;
  &lt;ul class="tab-index clearfix"&gt;
    &lt;li tabIndex="abc"&gt;abc&lt;/li&gt;
    &lt;li tabIndex="def"&gt;def&lt;/li&gt;
    &lt;li tabIndex="ghi"&gt;ghi&lt;/li&gt;
  &lt;/ul&gt;
  &lt;div class="tab-cont"&gt;
    &lt;div tabContent="abc"&gt;abc&lt;/div&gt;
    &lt;div tabContent="def"&gt;def&lt;/div&gt;
    &lt;div tabContent="ghi"&gt;ghi&lt;/div&gt;
  &lt;/div&gt;
&lt;/iq-tab&gt;
            </div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>tabActiveIndex</h3>
        <div style="padding:0px 10px;">
          <p><code>tabActiveIndex: string</code>； 定义组件的被默认激活的tab</p>
          <div class="tab-demo">
            <iq-tab tabActiveClass="active" tabActiveIndex="def">
              <ul class="tab-index clearfix">
                <li tabIndex="abc">abc</li>
                <li tabIndex="def">def</li>
                <li tabIndex="ghi">ghi</li>
              </ul>
              <div class="tab-cont">
                <div tabContent="abc">abc</div>
                <div tabContent="def">def</div>
                <div tabContent="ghi">ghi</div>
              </div>
            </iq-tab>
          </div>
          <showcode>
            <div class="shows">
&lt;iq-tab tabActiveClass="active" tabActiveIndex="def"&gt;
  &lt;ul class="tab-index clearfix"&gt;
    &lt;li tabIndex="abc"&gt;abc&lt;/li&gt;
    &lt;li tabIndex="def"&gt;def&lt;/li&gt;
    &lt;li tabIndex="ghi"&gt;ghi&lt;/li&gt;
  &lt;/ul&gt;
  &lt;div class="tab-cont"&gt;
    &lt;div tabContent="abc"&gt;abc&lt;/div&gt;
    &lt;div tabContent="def"&gt;def&lt;/div&gt;
    &lt;div tabContent="ghi"&gt;ghi&lt;/div&gt;
  &lt;/div&gt;
&lt;/iq-tab&gt;
            </div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>onTab</h3>
        <div style="padding:0px 10px;">
          <p><code>(onTab)="doSomething($event)"</code>；tab切换事件，$event为tab的Id</p>
          <div class="tab-demo">
            <iq-tab tabActiveClass="active" (onTab)="print($event)">
              <ul class="tab-index clearfix">
                <li tabIndex="abc">abc</li>
                <li tabIndex="def">def</li>
                <li tabIndex="ghi">ghi</li>
              </ul>
              <div class="tab-cont">
                <div tabContent="abc">abc</div>
                <div tabContent="def">def</div>
                <div tabContent="ghi">ghi</div>
              </div>
            </iq-tab>
          </div>
          <showcode>
            <div class="shows">
&lt;iq-tab tabActiveClass="active" (onTab)="print($event)"&gt;
  &lt;ul class="tab-index clearfix"&gt;
    &lt;li tabIndex="abc"&gt;abc&lt;/li&gt;
    &lt;li tabIndex="def"&gt;def&lt;/li&gt;
    &lt;li tabIndex="ghi"&gt;ghi&lt;/li&gt;
  &lt;/ul&gt;
  &lt;div class="tab-cont"&gt;
    &lt;div tabContent="abc"&gt;abc&lt;/div&gt;
    &lt;div tabContent="def"&gt;def&lt;/div&gt;
    &lt;div tabContent="ghi"&gt;ghi&lt;/div&gt;
  &lt;/div&gt;
&lt;/iq-tab&gt;
            </div>
          </showcode>
        </div>
      </div>

    </ng-template>

  <!-- API -->
  <ng-template [ngIf]="true" class='stitemo'>

    <showitemo [sitemotitle]="'属性'">
      <ng-template [ngIf]="true" class="sitemocon">

        <table class="table">
          <thead>
            <tr>
              <th>参数</th>
              <th>说明</th>
              <th>类型</th>
              <th>可选值</th>
              <th>默认值</th>
              <th>是否必选</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>tabIndex</td>
              <td>选项卡Id</td>
              <td>string</td>
              <td></td>
              <td></td>
              <td>是</td>
            </tr>
            <tr>
              <td>tabContent</td>
              <td>选项卡对应内容Id</td>
              <td>string</td>
              <td></td>
              <td></td>
              <td>是</td>
            </tr>
            <tr>
              <td>tabActiveClass</td>
              <td>选项卡被激活时添加的className</td>
              <td>string</td>
              <td></td>
              <td></td>
              <td>否</td>
            </tr>
            <tr>
              <td>tabActiveIndex</td>
              <td>选项卡默认被激活的项</td>
              <td>string</td>
              <td></td>
              <td></td>
              <td>否</td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </showitemo>

  </ng-template>

    <!-- stitemexample -->
  <ng-template [ngIf]="true" class="stitemexample">

    <showitemexample>

      <ng-template [ngIf]="true" class="stitempcon">
        <div class="showhow">
          <p>简单示例：增加或删除tab选项</p>
          <button class="m-btn-success" (click)="addItem()">增加一项</button>
          <div class="tab-demo">
            <iq-tab tabActiveClass="active">
              <ul class="tab-index">
                <li *ngFor="let item of tabList;index as i" [tabIndex]="item.id">{{item.name}}<i class="iqon-close" [hidden]="tabList.length === 1" (click)="deleteItem(i)"></i></li>
              </ul>
              <div class="tab-cont">
                <div *ngFor="let item of contList" [tabContent]="item.id">{{item.content}}</div>
              </div>
            </iq-tab>
          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]="true" class="stitemphtml">

        <pre iqhighlight>
          <code class="html">
&lt;button class="m-btn-success" (click)="addItem()"&gt;增加一项&lt;/button&gt;
&lt;div class="tab-demo"&gt;
  &lt;iq-tab tabActiveClass="active"&gt;
    &lt;ul class="tab-index"&gt;
      &lt;li *ngFor="let item of tabList;index as i" [tabIndex]="item.id"&gt;{{'{'}}{{'{'}}item.name{{'}'}}{{'}'}}&lt;i class="iqon-close" [hidden]="tabList.length === 1" (click)="deleteItem(i)"&gt;&lt;/i&gt;&lt;/li&gt;
    &lt;/ul&gt;
    &lt;div class="tab-cont"&gt;
      &lt;div *ngFor="let item of contList" [tabContent]="item.id"&gt;{{'{'}}{{'{'}}item.content{{'}'}}{{'}'}}&lt;/div&gt;
    &lt;/div&gt;
  &lt;/iq-tab&gt;
&lt;/div&gt;
          </code>
        </pre>

      </ng-template>

      <ng-template [ngIf]="true" class="stitempts">
        <pre iqhighlight>
          <code  class="javascript">
tabList: {{'{'}}id:string,name: string{{'}'}}[] = [{{'{'}}name:'abc',id: 'abc'{{'}'}},{{'{'}}name:'def',id: 'def'{{'}'}},{{'{'}}name:'ghi',id: 'ghi'{{'}'}}];
contList: {{'{'}}id:string,content: string{{'}'}}[] = [{{'{'}}content:'abc',id: 'abc'{{'}'}},{{'{'}}content:'def',id: 'def'{{'}'}},{{'{'}}content:'ghi',id: 'ghi'{{'}'}}];
count: number = 0;

deleteItem(i) {{'{'}}
  this.tabList.splice(i,1);
  this.contList.splice(i,1);
{{'}'}}

addItem() {{'{'}}
  this.count++;
  this.tabList.push({{'{'}}name: `newTab${{'{'}}this.count{{'}'}}`, id: `newId${{'{'}}this.count{{'}'}}`{{'}'}});
  this.contList.push({{'{'}}content: `newContent${{'{'}}this.count{{'}'}}`, id: `newId${{'{'}}this.count{{'}'}}`{{'}'}});
{{'}'}}
          </code>
        </pre>
      </ng-template>

      <ng-template [ngIf]="true" class="stitempcss">
        <pre iqhighlight>
          <code class="css">
.m-btn-success{{'{'}}
  margin-bottom: 10px;
{{'}'}}

.tab-demo{{'{'}}
  width: 600px;
  
  .tab-index{{'{'}}
    display: flex;

    >li{{'{'}}
      position: relative;
      flex-grow: 1;
      list-style: none;
      text-align: center;
      background: #fff;
      color: #000;
      border: 1px solid #ccc;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;

      &.active{{'{'}}
        background: #a93;
      {{'}'}}

      >i.iqon-close{{'{'}}
        position: absolute;
        top: 0;
        right: 0;
      {{'}'}}
    {{'}'}}
  {{'}'}}

  .tab-cont>div{{'{'}}
    height: 80px;
    line-height: 80px;
    background: #ccc;
    color: #000;
    text-align: center;
    font-size: 30px;
  {{'}'}}
{{'}'}}
          </code>
        </pre>
      </ng-template>

    </showitemexample>

  </ng-template>

  </showtem>
</div>
