<div [@flyIn]="active">
  <showtem [stname]="'数组方法'" [stnamedel]="'时光一去不复回'" >

    <!-- overview -->
    <ng-template [ngIf]="true" class='stview'>

      <h3>概述</h3>
      <p>
        数组的一些方法
      </p>

      <div style="margin-top:35px;">
        <h3>数组去重</h3>
        <div style="padding:0px 10px;">
          <showcode>
            <div class="shows">
uniqueArr(arr: any[]) {{'{'}}
  return Array.from(new Set(arr));
{{'}'}}
            </div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>数组排序</h3>
        <div style="padding:0px 10px;">
          <showcode>
            <div class="shows">
sortArr(arr: number[]) {{'{'}}
  return arr.sort((a,b)=> a - b);
{{'}'}}
            </div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>获取连续数组</h3>
        <div style="padding:0px 10px;">
          <showcode>
            <div class="shows">
sequenceArr(start: number, end: number) {{'{'}}
  return Array.from({{'{'}}length: end - start + 1{{'}'}}).map((v,i) => i + start)
{{'}'}}
            </div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>去除B数组中在A数组里存在的项</h3>
        <div style="padding:0px 10px;">
          <showcode>
            <div class="shows">
uniqueBbyA(b: any[], a: any[]) {{'{'}}
  return b.filter(item => !a.some(v => v === item));
{{'}'}}
            </div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>数组项某属性求和</h3>
        <div style="padding:0px 10px;">
          <showcode>
            <div class="shows">
addItem(arr: any[], item: string) {{'{'}}
  return arr.reduce((p,c)=>{{'{'}}return {{'{'}}[item]: p[item]+c[item]{{'}'}}{{'}'}})[item];
{{'}'}}
            </div>
          </showcode>
        </div>
      </div>

    </ng-template>

    <!-- stitemexample -->
    <ng-template [ngIf]="true" class="stitemexample">

      <showitemexample>

        <ng-template [ngIf]="true" class="stitempcon">
          <div class="showhow">

            <p>/deep/ 简单示例，改变开关滑块颜色</p>

            <iq-switcher [(ngModel)]="fromSwitcher"></iq-switcher>
          </div>
        </ng-template>

        <ng-template [ngIf]="true" class="stitemphtml">

          <pre iqhighlight>
            <code class="html">
              &lt;iq-switcher [(ngModel)]="fromSwitcher"&gt;&lt;/iq-switcher&gt;
            </code>
          </pre>

        </ng-template>

        <ng-template [ngIf]="true" class="stitempts">
          <pre iqhighlight>
            <code  class="javascript">
              fromSwitcher: boolean;
            </code>
          </pre>
        </ng-template>

        <ng-template [ngIf]="true" class="stitempcss">
          <pre iqhighlight>
            <code class="css">
              /deep/ .m-switch .switch-ball{{'{'}}
                background: red;
              {{'}'}}
            </code>
          </pre>
        </ng-template>

      </showitemexample>

    </ng-template>

  </showtem>
</div>
