<div>
  <!-- Body Cover Image
  	================================================== -->
	<div class="body-cover"></div>
	<!-- Login Container
  	================================================== -->
	<div id="login">
		<div class="brand">
			<span class="color"><i class="icon-leaf"></i> AD</span>METRO
		</div>
		<div class="login-container">
			<div class="login-header">
				<i class="icon-lock" id="login-signal"></i> SIGN IN
			</div>
			<div class="login-content">
				<form class="margin-bottom-0" action="index">
					<input type="text" class="input-block-level" placeholder="Email Address" /><br />
					<input type="text" class="input-block-level" placeholder="Password" /><br />
					<label class="checkbox">
						<input type="checkbox" /> Remember Me
					</label>
					<div class="login-buttons">
						<!-- <a routerLink="/index"> -->
							<button type="submit" class="btn btn-success"><i class="icon-signin"></i> Sign me in</button>
						<!-- </a> -->
						<!-- <a href="#" class="pull-right">Forgot Password?</a> -->
					</div>
				</form>
			</div>
		</div>
	</div><!-- end #login -->

  <div id="footer">
      <span id="scrollTop" class="pull-right">
      	<a href="#top-navigation" class="btn btn-inverse btn-small" data-toggle="tooltip" data-title="Back to Top" data-placement="top" data-original-title="" title="">
          	<i class="icon-chevron-up"></i>
          </a>
      </span>
  	© 2013 Admetro Responsive Admin Template - Sean Ngu All Rights Reserved
  </div>

</div>
