<div [@flyIn]="'in'">
  <showtem [stname]="'print打印样式'" [stnamedel]="'一个有趣的css'" >

    <!-- overview -->
    <ng-template [ngIf]="true" class='stview'>

      <h3>概述</h3>
      <p>
        利用CSS控制print打印样式,可以非常方便的实现打印页面中的指定内容和分页打印。
      </p>


      <div style="margin-top:35px;">
        <h3>@media <span style="font-size:12px"></span></h3>
        <div style="padding:0px 10px;">
          <p>● <code>print</code>:指用于打印机的不透明介质。  @media print里面的内容只对打印出来的内容有效。</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
              @media print{{'{'}}
                h1 {{'{'}}
                  color: black;
                {{'}'}}
                h2{{'{'}}
                  color: gray;
                {{'}'}}
              {{'}'}}
            </div>
          </showcode>
          <p style="margin:10px 0 0">● 隐藏不需要的或是次要的内容</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
              @media print{{'{'}}
                 body {{'{'}}
                  color:#000;
                  background:#fff;
                {{'}'}}
                .footer{{'{'}}
                  display:none;
                {{'}'}}
              {{'}'}}
            </div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3>@page规则 <span style="font-size:12px">(允许你指定页面盒子的尺寸,页边距,页眉页脚等)</span></h3>
        <div style="padding:0px 10px;">
          <p style="margin:10px 0 0">● 指定页面尺寸。</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
            @page {{'{'}}
              size: 5.5in 8.5in;
            {{'}'}}
            </div>
          </showcode>
          <p style="margin:10px 0 0">● 使用纸质尺寸关键字，例如<code>A4</code>或<code>legal</code>。</p>
           <showcode>
            <div class="shows" style="margin-left:-120px;">
            @page {{'{'}}
              size: A4;
            {{'}'}}
            </div>
          </showcode>
          <p style="margin:10px 0 0">● 使用关键字来指定页面方向, <code>portrait</code>或者<code>landscape</code></p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
             @page {{'{'}}
              size: A4 landscape;
            {{'}'}}
            </div>
          </showcode>
        </div>
      </div>

      <div style="margin-top:35px;">
        <h3> 使用伪类定义页面边距 <span style="font-size:12px"></span></h3>
        <div style="padding:0px 10px;">
          <p style="margin:10px 0 0">● <code>:left</code>: 页面左边距。</p>
           <showcode>
            <div class="shows" style="margin-left:-120px;">
            @page :left {{'{'}}
               margin-left: 3cm;
            {{'}'}}
            </div>
          </showcode>
          <p style="margin:10px 0 0">● <code>:right</code>: 页面右边距。</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
            @page :right {{'{'}}
               margin-left: 4cm;
            {{'}'}}
            </div>
          </showcode>
           <p style="margin:10px 0 0">● <code>:first</code>: 页面第一页使用的样式。</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
            @page :first {{'{'}}
              margin: 100px 200px;
            {{'}'}}
            </div>
          </showcode>
           <p style="margin:10px 0 0">● <code>:blank</code>: 故意左侧留白”的页面。可以使用目标是边距盒顶部中心的生成内容.</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
            @page :blank {{'{'}}
              @top-center {{'{'}} content: "This page is intentionally left blank." {{'}'}}
            {{'}'}}
            </div>
          </showcode>
        </div>
      </div>
       <div style="margin-top:35px;">
        <h3>打印显示链接url信息</h3>
        <div style="padding:0px 10px;">
          <p>● 利用<code>:after</code>和<code>content</code>把不在屏幕上显示的文本打印在一个样式元素的末端。</p>
          <p>● 方法:给打印样式表添加一个样式，在每个链接后面打印出绝对的URL（即以http://开头的那些）</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
              a[href^="http://"]:after {{'{'}} content: " (" attr(href) ") ";{{'}'}}
            </div>
          </showcode>
        </div>
      </div>
      <div style="margin-top:35px;">
        <h3> 分页符 </h3>
        <div style="padding:0px 10px;">
          <p style="margin:10px 0 0">● <code>page-break-before</code> 在一个指定样式之前插入一个分页符</p>
          <p style="margin:10px 0 0 15px"> <code>auto</code>：在对象之前自动插入页分割符。</p>
          <p style="margin:10px 0 0 15px"> <code>always</code>：始终在对象之前插入页分割符。</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
            h1 {{'{'}}
               page-break-before: always;
            {{'}'}}
            </div>
          </showcode>
        </div>
        <div style="padding:0px 10px;">
          <p style="margin:10px 0 0">● <code>page-break-after</code> 设置对象后出现页分割符</p>
          <p style="margin:10px 0 0 15px"> <code>auto</code>：在对象之后自动插入页分割符。</p>
          <p style="margin:10px 0 0 15px"> <code>always</code>：始终在对象之后插入页分割符。</p>
          <p style="margin:10px 0 0 15px"> <code>avoid</code>：避免在对象后面插入分割符。</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
            h1, h2, h3, h4, h5 {{'{'}}
               page-break-after: avoid;
            {{'}'}}
            </div>
          </showcode>
        </div>
        <div style="padding:0px 10px;">
          <p style="margin:10px 0 0">● <code>page-break-inside</code> 避免断开图像和表格</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
            table, figure {{'{'}}
               page-break-inside: avoid;
            {{'}'}}
            </div>
          </showcode>
        </div>
      </div>
      <div style="margin-top:35px;">
        <h3>计数器</h3>
        <div style="padding:0px 10px;">
          <p style="margin:10px 0 0"> ● 把页码放在奇数页的右下角和偶数页的左下角。</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
            @page:right{{'{'}} 
              @bottom-right {{'{'}} content: counter(page); {{'}'}}
            {{'}'}} 
            @page:left{{'{'}} 
              @bottom-left {{'{'}} content: counter(page); {{'}'}}
            {{'}'}}
            </div>
          </showcode>
          <p style="margin:10px 0 0"> ● <code>pages</code>:计数器,可以输出任意你想要的页数.</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
            @page:left{{'{'}} 
              @bottom-left {{'{'}} content: "Page " counter(page) " of " counter(pages) {{'}'}}
            {{'}'}}
            </div>
          </showcode>
          <p style="margin:10px 0 0">创建一个计数器</p>
          <p style="margin:10px 0 0"> ● <code>counter-reset</code>进行创建,<code>counter-increment</code>增加.</p>
          <p style="margin:10px 0 0">创建一个叫chapternum的计数器,每出现h1增加。</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
            body {{'{'}}  
              counter-reset: chapternum; 
            {{'}'}}
            h1.chapter:before {{'{'}}  
              counter-increment: chapternum; 
              content: counter(chapternum) ". "; 
            {{'}'}}
            </div>
          </showcode>
        </div>
      </div>
      <div style="margin-top:35px;">
        <h3>脚注</h3>
        <div style="padding:0px 10px;">
          <p>● <code>float</code>: 给脚注类创建规则.</p>
          <showcode>
            <div class="shows" >
              &lt;p&gt;Footnotes
                &lt;span class="footnotes"&gt;Footnotes and notes placed in the footer of a document to reference the text. The footnote will be 
                removed from the flow when the page is created.&lt;/span&gt; 
                are useful in books and printed documents.
              &lt;/p&gt;
              .fn{{'{'}} 
                float: footnote;
              {{'}'}}
            </div>
          </showcode>
          <p style="margin:10px 0 0">● 脚注有一个预定义计数器表现和页面计数器一样。通常，你想让计数器每次fn类出现时增加1并且在每一章开始时被重置.</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
              .fn{{'{'}} 
                counter-increment: footnote;
              {{'}'}}
              h1{{'{'}} 
                counter-reset: footnote;
              {{'}'}}
            </div>
          </showcode>
        </div>
      </div>
      <div style="margin-top:35px;">
        <h3>交叉引用 </h3>
        <p>在网页中，我们通过添加链接交叉引用。在书和其他打印文档中，通常依靠页码寻找引用。因为页码也许会随着书的不同版本打印形式的变化而改变 - 通过CSS实现让我们不需要检查和改变所有数字。</p>
        <div style="padding:0px 10px;">
          <p>● <code>target-counter</code>:添加数字。在文档中创建链接时，赋予它们<code>href</code>，值为你想要标记的文档中的元素的ID.此外，增加一个类来识别它们是交叉引用，而不是一个外部链接；此处用<code>xref</code>。</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
              &lt;a class="xref" href="#ch1" title="Chapter 1"&gt;Chapter 1&lt;/a&gt;
            </div>
          </showcode>
        </div>
        <p style="margin:10px 0 10px">在这个链接后，再一次使用生成内容输出<code>(page x)</code>，<code>x</code>是ID在书中位置的数值。</p>
        <div style="padding:0px 10px;">
          <p>● <code>target-counter</code>:添加数字。在文档中创建链接时，赋予它们<code>href</code>，值为你想要标记的文档中的元素的ID.此外，增加一个类来识别它们是交叉引用，而不是一个外部链接；此处用<code>xref</code>。</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
            a.xref:after {{'{'}}  
               content: " (page " target-counter(attr(href, url), page) ")";
            {{'}'}}
            </div>
          </showcode>
        </div>
      </div>
      <div style="margin-top:35px;">
        <h3>注意事项</h3>
        <div style="padding:0px 10px;">
          <p>● 打印样式中不推荐使用背景.因为浏览器默认情况下并不能打印出CSS中的背景内容，只有当浏览器被
  设置可以打印背景的情况下才能打印出来（ie的高级选项中可选）。即使背景可以打印，它也可能盖过叠在它上面的任何文本。</p>
          <p>● 如果需要在打印内容中出现图片，请在HTML代码中加入。</p>
          <p>● 打印设置使用的是物理单位，所以尺寸最好不要用像素(px)，可以用<code>pt</code>也可以用<code>cm</code>；</p>
          <p>● 尽量不要让内容浮动.基于Gecko的浏览器（例如Netscape 6+），当用户用它来浏览一个打印输出页面时，它会截去浮动元素中的内容。</p>
          <p>● 尽可能的在HTML代码中做好内容重要的先后次序，这样在打印样式中可以节省不少的麻烦。</p>
          <p>● 确保页面上的所有文本以黑色打印，通配选择器<code>*</code>和<code>!important</code>来创建单个样式：。</p>
          <showcode>
            <div class="shows" style="margin-left:-120px;">
            *{{'{'}} 
              color: ##000# !important 
            {{'}'}}
            </div>
          </showcode>
        </div>
      </div>
    </ng-template>

  <!-- API -->
  <ng-template [ngIf]="true" class='stitemo'>

    <showitemo [sitemotitle]="'属性'">
      <ng-template [ngIf]="true" class="sitemocon">

        <table class="table">
          <thead>
            <tr>
              <th>参数</th>
              <th>说明</th>
              <th>类型</th>
              <th>可选值</th>
              <th>默认值</th>
              <th>是否必选</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </showitemo>

  </ng-template>
  <!-- stitemexample -->
  <ng-template [ngIf]="true" class="stitemexample">

    <showitemexample>

      <ng-template [ngIf]="true" class="stitempcon">
          <div class="table-body">
            <table class="table">
              <thead>
                <tr>
                  <th>公司名称</th>
                  <th>平台名称</th>
                  <th>模版名称 <i></i></th>
                  <th>公司地址 <i></i></th>
                  <th>网址</th>
                  <th>公司邮编</th>
                  <th>公司名称</th>
                  <th>公司地址</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>123456</td>
                  <td>xxx</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="https://www.cnblogs.com/xiaominwu/p/4347984.html">飞凤飞飞凤飞飞</a></td>
                  <td>xxxx</td>
                  <td>xxxxxxxx</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>123456</td>
                  <td>xxx</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="http://xxxxxxxx">风格</a></td>
                  <td>xxxx</td>
                  <td>xxxxxxxx</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>123456</td>
                  <td>xxx</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="http://xxxxxxxx">日日日</a></td>
                  <td>xxxx</td>
                  <td>xxxxxxxx</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>神州数码</td>
                  <td>哈哈哈哈</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="https://www.cnblogs.com/xiaominwu/p/4347984.html">额鹅鹅鹅</a></td>
                  <td>xxxx</td>
                  <td>的健康减肥经历的</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>123456</td>
                  <td>xxx</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="https://www.cnblogs.com/xiaominwu/p/4347984.html">灌灌灌灌</a></td>
                  <td>xxxx</td>
                  <td>xxxxxxxx</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>123456</td>
                  <td>xxx</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="http://xxxxxxxx">鹅鹅鹅饿饿</a></td>
                  <td>xxxx</td>
                  <td>xxxxxxxx</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>123456</td>
                  <td>xxx</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="http://xxxxxxxx">额鹅鹅鹅</a></td>
                  <td>xxxx</td>
                  <td>xxxxxxxx</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>神州数码</td>
                  <td>哈哈哈哈</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="https://www.cnblogs.com/xiaominwu/p/4347984.html">地对地导弹</a></td>
                  <td>xxxx</td>
                  <td>的健康减肥经历的</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>123456</td>
                  <td>xxx</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="https://www.cnblogs.com/xiaominwu/p/4347984.html"></a></td>
                  <td>xxxx</td>
                  <td>xxxxxxxx</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>123456</td>
                  <td>xxx</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="http://xxxxxxxx"></a></td>
                  <td>xxxx</td>
                  <td>xxxxxxxx</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>123456</td>
                  <td>xxx</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="https://www.cnblogs.com/xiaominwu/p/4347984.html">公共</a></td>
                  <td>xxxx</td>
                  <td>xxxxxxxx</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>123456</td>
                  <td>xxx</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="http://xxxxxxxx">你哈顶顶顶顶</a></td>
                  <td>xxxx</td>
                  <td>xxxxxxxx</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>123456</td>
                  <td>xxx</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="http://xxxxxxxx">你哈顶顶顶顶</a></td>
                  <td>xxxx</td>
                  <td>xxxxxxxx</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>123456</td>
                  <td>xxx</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="http://xxxxxxxx">你哈顶顶顶顶</a></td>
                  <td>xxxx</td>
                  <td>xxxxxxxx</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>123456</td>
                  <td>xxx</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="http://xxxxxxxx">你哈顶顶顶顶</a></td>
                  <td>xxxx</td>
                  <td>xxxxxxxx</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>123456</td>
                  <td>xxx</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="http://xxxxxxxx">你哈顶顶顶顶</a></td>
                  <td>xxxx</td>
                  <td>xxxxxxxx</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>123456</td>
                  <td>xxx</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="http://xxxxxxxx">你哈顶顶顶顶</a></td>
                  <td>xxxx</td>
                  <td>xxxxxxxx</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>123456</td>
                  <td>xxx</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="http://xxxxxxxx">你哈顶顶顶顶</a></td>
                  <td>xxxx</td>
                  <td>xxxxxxxx</td>
                  <td>xxxxxxxx</td>
                </tr>
                <tr>
                  <td>123456</td>
                  <td>xxx</td>
                  <td>xxxxxxxxx</td>
                  <td>xxxxxxxxxxxxx</td>
                  <td><a href="http://xxxxxxxx">你哈顶顶顶顶</a></td>
                  <td>xxxx</td>
                  <td>xxxxxxxx</td>
                  <td>xxxxxxxx</td>
                </tr>
              </tbody>
            </table>
            <div class="m-import-foot text-center" (click)="print()">
              <button class="m-btn-confirm">打印</button>
            </div>
          </div>
      </ng-template>

      <ng-template [ngIf]="true" class="stitemphtml">
        <pre iqhighlight>
          <code class="html">
            &lt;div class="table-body"&gt;
              &lt;table class="table" border="1"&gt;
                &lt;thead&gt;
                  &lt;tr&gt;
                    &lt;th&gt;公司名称&lt;/th&gt;
                    &lt;th&gt;平台名称&lt;/th&gt;
                    &lt;th&gt;模版名称 &lt;i&gt;&lt;/i&gt;&lt;/th&gt;
                    &lt;th&gt;公司地址 &lt;i&gt;&lt;/i&gt;&lt;/th&gt;
                    &lt;th&gt;网址&lt;/th&gt;
                    &lt;th&gt;公司邮编&lt;/th&gt;
                    &lt;th&gt;公司名称&lt;/th&gt;
                    &lt;th&gt;公司地址&lt;/th&gt;
                  &lt;/tr&gt;
                &lt;/thead&gt;
                &lt;tbody&gt;
                  &lt;tr&gt;
                    &lt;td&gt;123456&lt;/td&gt;
                    &lt;td&gt;xxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;https://www.cnblogs.com/xiaominwu/p/4347984.html&lt;/td&gt;
                    &lt;td&gt;xxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr&gt;
                    &lt;td&gt;123456&lt;/td&gt;
                    &lt;td&gt;xxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;http://xxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr&gt;
                    &lt;td&gt;123456&lt;/td&gt;
                    &lt;td&gt;xxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;http://xxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr&gt;
                    &lt;td&gt;神州数码&lt;/td&gt;
                    &lt;td&gt;哈哈哈哈&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;https://www.cnblogs.com/xiaominwu/p/4347984.html&lt;/td&gt;
                    &lt;td&gt;xxxx&lt;/td&gt;
                    &lt;td&gt;的健康减肥经历的&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr&gt;
                    &lt;td&gt;123456&lt;/td&gt;
                    &lt;td&gt;xxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;https://www.cnblogs.com/xiaominwu/p/4347984.html&lt;/td&gt;
                    &lt;td&gt;xxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr&gt;
                    &lt;td&gt;123456&lt;/td&gt;
                    &lt;td&gt;xxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;http://xxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr&gt;
                    &lt;td&gt;123456&lt;/td&gt;
                    &lt;td&gt;xxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;http://xxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr&gt;
                    &lt;td&gt;神州数码&lt;/td&gt;
                    &lt;td&gt;哈哈哈哈&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;https://www.cnblogs.com/xiaominwu/p/4347984.html&lt;/td&gt;
                    &lt;td&gt;xxxx&lt;/td&gt;
                    &lt;td&gt;的健康减肥经历的&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr&gt;
                    &lt;td&gt;123456&lt;/td&gt;
                    &lt;td&gt;xxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;https://www.cnblogs.com/xiaominwu/p/4347984.html&lt;/td&gt;
                    &lt;td&gt;xxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                  &lt;/tr&gt;
                  &lt;tr&gt;
                    &lt;td&gt;123456&lt;/td&gt;
                    &lt;td&gt;xxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxxxxxxx&lt;/td&gt;
                    &lt;td&gt;http://xxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                    &lt;td&gt;xxxxxxxx&lt;/td&gt;
                  &lt;/tr&gt;
                &lt;/tbody&gt;
              &lt;/table&gt;
              &lt;div class="m-import-foot text-center" (click)="print()"&gt;
                &lt;button class="m-btn-confirm"&gt;打印&lt;/button&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          </code>
        </pre>

      </ng-template>

      <ng-template [ngIf]="true" class="stitempts">
        <pre iqhighlight>
          <code  class="javascript">
          </code>
        </pre>
      </ng-template>

      <ng-template [ngIf]="true" class="stitempcss">
        <pre iqhighlight>
          <code class="css">
            @media print{{'{'}}
              *{{'{'}}                         //全局设置打印的背景色和字体颜色等;
                width: 100%;
                height: 100%;
                color:#000;
                text-shadow: none !important;
                background: transparent !important;
                box-shadow: none !important;
              {{'}'}}
              /deep/.g-list,/deep/header,.m-btn-confirm,/deep/.logo,/deep/.page-title,/deep/.nav-tabs,/deep/.profile-header,/deep/.showtemwizard{{'{'}}
                display: none;                  //将不需要的东西隐藏
              {{'}'}}
              
              a[href^=http]:after {{'{'}}
               //content:"<" attr(href) "> ";    //打印时出现超链接  
                content:'';                     //因为bootstrap.css中设置打印时出现超链接,此处需要隐藏;
              {{'}'}}
              @page {{'{'}}
                  margin: 0.5cm;               //设置打印页面的边距;
              {{'}'}}
              table,img {{'{'}}
                page-break-inside: avoid;      //在tr ,img中内部禁止出现分隔符,避免断开图像和表格
              {{'}'}}
              
            {{'}'}}
          </code>
        </pre>
      </ng-template>
    </showitemexample>
  </ng-template>

  </showtem>
</div>
