.table-body{
    color: #000;
    table{
        background: #fff;
        border-collapse: collapse;
        border: 2px solid #686868;
        thead{
            background: rgba(111,154,212,.4);
            th{
                font-size: 14px;
                font-weight: 600;
                border: 1px solid #8a8a8a;
                border-bottom: 2px solid #686868;
            }
        }
        tbody {
            tr:nth-child(even){
                background: #f2f2f3;
            }
            td{
                border:1px solid #8a8a8a;
                a{
                    color:#4a4a4a;
                }
            }
        }
        
            
    }
    /deep/.showhow .table.table-bordered{
        border-color: rgba(0, 0, 0, 0.3)!important;
    }
}

// 打印样式
@media print{
	*{
		width: 100%;
		height: 100%;
	    color:#000;
		background:#fff!important;
	}
	/deep/.g-list,/deep/header,.m-btn-confirm,/deep/.logo,/deep/.page-title,/deep/.nav-tabs,/deep/.profile-header,/deep/.showtemwizard{
		display: none;
	}
    /deep/.widget-header{
        opacity: 0;
    }
	a[href^=http]:after {
		content:" ";
	}
	/deep/ #content {
        margin: 0;
    }
    /deep/.user-profile,/deep/.tab-content,/deep/.widget,{
        padding:0;
    }
    @page {
        margin: 0.5cm;
    } 
    tr{
        page-break-inside: avoid;
    }
}
